[2018-07-10 22:50] tezmar opened #1 "Feature Request: Permit access based on individual email addresses"
Would it be possible to add the ability to control access based on individual emails instead of only email domains?  for example I'd like to be able to limit access to just testuser@gmail.com.

[2018-08-02 13:38] Admin9705 opened #2 "nice work"
i'm looking at integrating this into our project.  I STAR'ed, but will provide you feedback when incorporating! nice work, love traefik. we use it current for dns challenge for mass container deployment.

[2018-08-03 08:40] thomseddon commented on #2
Cool, let me know if there's anything I can help with

[2018-08-03 08:40] #2 closed

[2018-08-03 08:45] thomseddon opened #3 "Add support for centralised "auth domain""
Problem: If you're using traefik in front of many different hosts/domains, you need to remember to permit each one as a redirect_uri in Google.

Solution: Support a central auth domain, e.g. `auth.example.com`, following google authorisation the user would be sent to the auth domain, the request would be validated and the user sent back to the original domain.

[2018-08-03 08:46] thomseddon commented on #1
This seems to make sense (there's a similar feature in [cloudflare/nginx-google-oauth](https://github.com/cloudflare/nginx-google-oauth)), I'm working on #3 first but would be happy to look at this

[2018-09-07 21:42] FuNK3Y opened #5 "Microsoft support"
This is exactly what I would need; but for microsoft (public - not business). Any chance you could implement different providers? Or a least guidance how to achieve that.

Cheers !

[2018-09-11 18:42] Berndinox opened #9 "How to add as frontend rule?"
i would like to replace my Basic auth with oauth, is there a frontend rule?

[code]

[2018-10-29 17:44] #3 closed

[2018-10-29 17:47] thomseddon commented on #5
I think we could possibly look at supporting various auth providers, there may even be a smart way to piggy back on https://github.com/bitly/oauth2_proxy

I have modified the title,to reflect the higher level goal of supporting multiple providers, but for now this is not supported

[2018-10-29 17:50] thomseddon commented on #9
Hi,

Yes, I believe this can be done using the following rule:
[code]

I lifted this from the traefik docs: https://docs.traefik.io/configuration/backends/docker/

[2018-10-29 17:50] #9 closed

[2018-10-31 11:42] HedgeShot commented on #9
@Berndinox @thomseddon
Hi, I was wondering if you could make it work using labels?
I get an error 500 when trying with the following config.

[code]

[2018-10-31 13:13] HedgeShot commented on #9
@thomseddon
It still isn't working but in my previous post I did a mistake. In the `label` it should be `traefik.frontend.auth.forward.address=http://forward-oauth:4181`
So now I am getting an Error 400 from Google. This is the message displayed in the browser:

[code]

The `Traefik`log shows:
[code]
and the last line of the `forward-oauth`log shows
[code]
(no errors anywhere in the log, which is

[2018-10-31 14:02] HedgeShot opened #11 "Endless login loop"
Hi,

First of all, it is the first time I am using Oauth so I might have done something wrong in my setup.
I am redirected to google for auth but every time I click on my email address (once connected to google), the same google screen is showing up and I am not redirected to my website.

At the moment, I set DOMAIN=gmail.com in my `docker-compose.yml` as I don't have an address @DOMAIN.COM on goo

[2018-10-31 17:56] thomseddon commented on #9
If you follow the instructions in the error message from Google you can get this setup. See here: https://github.com/thomseddon/traefik-forward-auth/blob/master/README.md#oauth-configuration

I wouldn't use the auth host unless you really know what you're doing too, it's an advanced feature and requires specific setup as detailed in the readme.

[2018-11-06 14:07] thomseddon commented on #1
#4 has been merged and this is now supported!

[2018-11-06 14:07] #1 closed

[2018-11-06 14:08] thomseddon commented on #11
Can you send your compose setup and config file (if you have one)

[2018-11-07 16:36] thomseddon commented on #11
Try removing the AUTH_HOST variable to check it works without?

[2018-11-08 09:07] ztmr commented on #5
I was looking for the same (auth against KeyCloak and GitLab) and ended up doing this: https://gitlab.com/ztmr/traefik-forward-auth/commit/1131d6b2bfd127a0084459a937d6c20b5844afcc

...this is tested with Google and GitLab (self hosted) but should work with others in theory. If you were interested in taking these changes, we may also want to the documentation and test some more IdPs. Maybe make the

[2018-11-08 13:10] HedgeShot commented on #11
If I do that, I am getting this error in the browser (from Google):
[code]

[2018-11-08 14:58] mliudvikas commented on #11
Hi

since you're using forward auth per frontend, you need to add the
- "traefik.frontend.auth.forward.address=http://forward-oauth:4181"
label to your forward-oauth container as well.

[2018-11-08 22:57] thomseddon commented on #11
Fortunately, that error is quite self explanatory, please follow the instructions in the README and allow https://hydra.DOMAIN.COM/_oauth via the google console.

Once this is done I think it should work.

We also added a new feature this week so you can limit login to specific users via the [`whitelist` option](https://github.com/thomseddon/traefik-forward-auth#user-restriction) , this should be

[2018-11-12 11:44] thomseddon commented on #11
Closing as this doesn't look's like a setup issue as opposed to a bug, happy to continue to help whilst closed

[2018-11-14 14:39] timhammond opened #13 "Add support for REMOTE_USER header"
Would it be possible to add an option to set a HTTP Header (REMOTE_USER as the default) with the value of the authenticated user?

[2018-11-14 14:52] HedgeShot commented on #11
@thomseddon It is not self explanatory as I am trying to setup AUTH_HOST. It indeed works if I add `hydra.DOMAIN.COM/_oauth`in Google but that is not what I want. It is a bit annoying to add every subdomain to Google but if that is what it takes I can live with it.

[2018-11-19 17:11] thomseddon commented on #13
This seems like a good idea, have you seen a similar header elsewhere? I'm just wondering what the best name for the header would be :)

[2018-11-19 17:14] thomseddon opened #14 "Add alternative auth methods"
Allow multiple authentication methods, for example:

- oauth-google
- oauth-\<other-provider\>
- api-key
- http-basic

[2018-11-19 17:58] timhammond commented on #13
https://guacamole.apache.org/doc/gug/header-auth.html

[2018-11-20 16:44] thomseddon commented on #11
Okie dokie, can you re-read the auth host setup: https://github.com/thomseddon/traefik-forward-auth#auth-host

If it it all looks correct, please capture the response from auth.DOMAIN.com and check what domain the `_forward_auth` cookie is being set on? It _should_ be DOMAIN.com

[2018-11-21 18:16] nicoulaj commented on #14
It seems some work was done in this fork to generalize to other oauth providers: https://gitlab.com/ztmr/traefik-forward-auth/commit/1131d6b2bfd127a0084459a937d6c20b5844afcc

[2018-11-23 13:38] nicoulaj opened #15 "Feature request: whitelisting some URLs"
It would be nice if a simple whitelisting of some specific URLs could be done, eg `-whitelist-uri=https://foo.bar/baz`.

Use case: https://github.com/healthchecks/healthchecks, which needs an open `/ping` endpoint

[2018-11-25 14:45] libussa commented on #15
+1 on this. Also entire services; for example it would be nice to be able to only secure private parts of a stack while leaving some services open.

[2018-11-25 22:39] thomseddon commented on #15
Yes I like this, it actually ties in with #14 in that a "none" auth method could be used for some paths.

I'll have a look at how Traefik does this (https://docs.traefik.io/basics/#matchers) and either go for a similar approach or something much more simplified, dependant on complexity.

[2018-12-07 10:53] elliotmoso commented on #15
I have just added a PR for whitelisting incoming IP #17 Some similar approach could be reached

[2018-12-10 12:44] #13 closed

[2018-12-10 12:45] thomseddon commented on #13
I've just pushed a fix for this, you can find the user in the `X-Forwarded-User` header :)

[2018-12-10 12:49] thomseddon opened #18 "Improve debug logging"
* Add flag
* Log entire request and response

[2018-12-10 12:54] thomseddon commented on #15
Thinking about this a bit more, it would be really good to have a much more fine grained control over who can access each section - we hack this a little at the moment by running multiple instances of this service.

[2018-12-10 13:31] Admin9705 opened #19 "looking to incorporate with plexguide"
hey been checking out your project and will attempt to intergrate within.  my program generates it own keys and etc for the user for gdrive and tdrive authentication and sets them.  let me know what you think. apologize, only way to communicate. we use all traefik.

For traefik, the program does the domain challenge and everything with containers all launching correctly.  just using the standard a

[2018-12-10 13:58] thomseddon commented on #19
Brilliant! Let me know if you come accross any issues or if there's any features that would ease integration!

[2018-12-10 13:58] #19 closed

[2018-12-10 14:53] Admin9705 commented on #19
will do!

[2018-12-20 11:15] Svarto opened #20 "Receive "not authorized" after Google Oauth rule"
Hi,

I really like the idea of having a centralized authentication for my self-hosted applications. I struggle to set it up though, I use the "overlay" mode and when going to my domain I did get redirected to the google login page. However, after logging in I just get a white page with "Not Authorized" written on top.

What can I do to correct this? Do I need to do any setup to make sure the https

[2018-12-20 11:53] thomseddon commented on #20
No problem, it should mostly be "automatic" but if something has gone wrong it could be an opportunity to improve documentation, could you post your config?

[2018-12-20 12:02] Svarto commented on #20
certainly!

traefik.toml
[code]

traefik-forward-auth docker:
[code]

Google Oauth consent screen:
Entered application name and also Authorized domains ("my-top-domain.com"). Left everything else blank or by defaults.

Google Credentials:
Create an Oauth2 credentials, entering a name for the application and then added the following authorized redirects URIs:

https://app1.svarto-server.com/_oauth

[2018-12-22 22:18] jvenezia commented on #9
Very useful, thanks. Maybe this could be documented in the readme?

[2018-12-24 00:40] thomseddon commented on #20
Are you using https? If so, you will need to leave `COOKIE_SECURE=true`

[2018-12-28 17:21] Admin9705 opened #21 "trying to get this going"
Ok, Ive changed this post quite abit.  I figured tons of things out along the way and only one thing left!

If you look at the bottom, you look below; I have the oauth which is suppose to be the auth label; but fails to works.  so if I type portainer.domain.com; I get the I need to add to the list, but if I type netdata.domain.com, it works (because it's added below).  Basically, I cannot get the

[2018-12-28 18:06] Admin9705 commented on #21
here is what i have in the console

![image](https://user-images.githubusercontent.com/24727006/50524006-29862d00-0a88-11e9-823d-51696207eadb.png)

[2018-12-28 18:50] Admin9705 commented on #21
ok getting this now

<img width="337" alt="image" src="https://user-images.githubusercontent.com/24727006/50525120-635a3200-0a8e-11e9-9303-b6fd0b482fe7.png">

[2018-12-28 19:33] Admin9705 commented on #21
I added the whitelist stuff and same invalid email thing

[2018-12-29 07:56] thomseddon commented on #21
Hi,

Not sure if it's a typo just here but the cookie domain setting should be: `COOKIE_DOMAIN` not `COOKIE-DOMAINS`

If you can let me know if I can improve the docs then please do :)

[2018-12-29 15:37] Admin9705 commented on #21
ah good catch.  ya the documentation is a bit rough. i don't mind helping out with some of it.  my documentation is extensive, but insanely hard to do haha, https://wiki.plexguide.com - i'll test out and let you know how it works out. once baked in, i'll make a video for how others use it; but will ensure to link this project to it.  it's really great work honestly.  later on, i'm trying to figure

[2018-12-29 18:32] Admin9705 commented on #21
yep that resolved the issue. baking in now

[2018-12-29 18:32] #21 closed

[2018-12-31 10:02] Admin9705 opened #23 "Got your Projected Baked into PlexGuide"
Here is the wiki for it: https://github.com/Admin9705/PlexGuide.com-The-Awesome-Plex-Server/wiki/PG-Shield

Also i'll work a youtube video and if you click this, https://plexguide.com/news/7-7-changelog/ there are screen shots at the bottom!  Hopefully more stars come your way!  put it in the sum and looks like it jumped up 7 within 2 days.  People want to use this, so they are 99% of the time goi

[2019-01-03 15:50] thomseddon commented on #23
Great!

A few notes:

- You don't *need* a G Suite account, you can use the `-whitelist` parameter to allow any email
- You shouldn't need portainer (but this may link some other dependency in your project)

[2019-01-03 15:50] #23 closed

[2019-01-05 17:46] Admin9705 commented on #23
will do, thanks for the tips!

[2019-01-10 19:04] materemias commented on #11
@thomseddon I face the very same issue with a kubernetes setup
[code]

since I would like to cover many hosts auth_host mode would be desired. could you please give me a hint?

[2019-01-10 20:09] materemias commented on #11
it looks to me like there were no X-Forwarded-Uri coming back
this is what _oauth gets:
[code]

[2019-01-10 20:58] thomseddon commented on #11
Can you send me a copy of the responses headers for the initial request (should be forwarding to Google) then each subsequent response before you end up back at Google? i.e. the entire request loop.

If you could then also send a copy of your config where you've masked the domains the same way is they're masked in the requests?

I think it may actually be a documentation issue, but once I can see

[2019-01-11 09:12] materemias commented on #11
@thomseddon [here](https://pastebin.com/VXcvr28w) is the complete log of the requests

these are the ENV vars I use (with same mask):
[code]

[2019-01-12 06:35] Admin9705 commented on #20
i'll post what i have shortly to assist.

[2019-01-12 06:37] Admin9705 commented on #20
`# traefik.toml
################################################################
# Global configuration
################################################################

# Log level
#
# Optional
# Default: "ERROR"
# Accepted values, in order of severity: "DEBUG", "INFO", "WARN", "ERROR", "FATAL", "PANIC"

insecureskipverify = true

logLevel = "WARN"

defaultEntryPoints = ["http", "https"]

[entryP

[2019-01-14 12:01] thomseddon commented on #20
This is a little offtopic, I wouldn't recommend such a long lifetime as even if the users email/user account is shut down, their session will still be valid with traefik. Forcing them to log in again checks they're still active (but this may be OK for your use case).

I'm closing this issue but I'll be happy to open again with more info.

[2019-01-14 12:01] #20 closed

[2019-01-15 08:18] materemias commented on #11
@thomseddon could you please have a look on this?

[2019-01-16 11:31] thomseddon commented on #11
@materemias can you post your traefik config? It looks like it's not recognising that it's hit the callback path, which may be because `trustForwardHeader` may be disabled?

[2019-01-16 15:46] materemias commented on #11
@thomseddon it is a kubernetes install, for the given service I use these annotations:
[code]

[2019-01-16 16:05] thomseddon commented on #11
Can you add:

[code]

It looks like traefik will only add the `X-Forwarded-Uri` header if this option is enabled: https://github.com/containous/traefik/blob/master/middlewares/auth/forward.go#L198

I'm not sure if this is the intended consequence of this option though, I might raise it with traefik

[2019-01-16 16:14] materemias commented on #11
I already have that!

[2019-01-16 16:19] thomseddon commented on #11
Ah, so you do, my bad :)

I'm going to fix #18 so we can see what's going on inside

[2019-01-16 16:23] materemias commented on #11
makes sense, thanks for the info!

[2019-01-18 20:47] WisdomWolf opened #24 "Add support for reading config parameters from files for use with docker secrets"
Would like to be able to provide things like client-id, client-secret, and secret from docker secrets stored as files.  Could either load the entire config from a file stored as a docker secret or (preferably) have additional environment variable options like the docker example:

- CLIENT_ID_FILE
- CLIENT_SECRET_FILE
- SECRET_FILE

This would enable the use of secrets in a similar fashion to the e

[2019-01-18 21:30] thomseddon commented on #24
Hi,

This can already be done (it's how I pass those secrets :), it's described at the end of the configuration section of the README: https://github.com/thomseddon/traefik-forward-auth/blob/master/README.md#configuration

Let me know if you have any problems

[2019-01-18 21:30] #24 closed

[2019-01-22 12:47] #18 closed

[2019-01-22 12:48] thomseddon commented on #18
@seuf I've excluded client secret from being logged with the new setup! Thanks for pointing this out :)

[2019-01-22 13:10] thomseddon commented on #11
@materemias I've just pushed a version with refactored logging, hopefully this will show us what we need! If you could run with `log-level` `debug` and let's see what we get!

[2019-01-22 13:57] materemias commented on #11
great news, this is a redirect loop:

[code]

[2019-01-22 18:32] thomseddon commented on #11
There doesn't seem to be a `X-Forwarded-Uri` header when the request hits ssoauth.mydomain.com, so the server doesn't know to call the auth callback.

Can you post full toml config?

I'm haven't looked into the way these variables are parsed, but it might be worth trying:
[code]

as opposed to:
[code]

[2019-01-22 18:44] materemias commented on #11
these are the annotations I am trying to get this working with:
[code]

`true` needs to be passed as string.

traefik.toml:

[code]

[2019-01-22 18:47] materemias commented on #11
and [here](https://docs.traefik.io/configuration/backends/kubernetes/#general-annotations) are the available annotations

[2019-01-30 17:05] thomseddon commented on #15
FYI, I'm working on this in #26

I hope to release this in the next couple of weeks

[2019-01-31 19:22] materemias commented on #11
@thomseddon do you have an idea how to move forward with this?

[2019-02-03 04:17] lnxbil commented on #14
I have no idea if the generalisation is working with every provider, but there are other go libraries out there that could help, like [goth](https://github.com/markbates/goth), which integrate a lot of different providers.

[2019-02-06 15:34] moreiramarti opened #27 "https url-path"
Hello,

I'm trying you forwarder and I'm facing and issue with https.
When I call my service, let's say https://service.domain.com, I get a 400 error code saying :
he redirect URI in the request, https://service.domain.com/_oauth, does not match the ones authorized for the OAuth client.

How can I make the url path called with https ?

Regards,
Martinho MOREIRA

[2019-02-06 16:22] thomseddon commented on #27
Have you added https://service.domain.com/_oauth in the Google Oauth Console?

[2019-02-06 16:41] moreiramarti commented on #27
I did but the calling url is http and not https.
Do you know why ? Maybe a missing header

[2019-02-06 16:49] thomseddon commented on #27
Sorry I'm not following you, in your example all the URL's had https at the start, so I can't see an issue with that.

Could you give an example request flow?

[2019-02-06 16:57] moreiramarti commented on #27
Sure, I'm call my service with https then I'm redirected to google auth screen but I get a 400 error with the message : the redirect URI in the request, http://service.domain.com/_oauth, does not match the ones authorized for the OAuth client.

I did a wrong copy paste in my initial post. The _oauth url is called with http instead of https.

[2019-02-06 16:59] thomseddon commented on #27
Hmm, are you sure your first request is https? If it is, are you being redirected to http before being redirected to google? (You will have to watch your request log in your browser to check).

[2019-02-06 17:05] moreiramarti commented on #27
I'm pretty sure but I'm doing ssl offloading through haproxy maybe the issue comes from that.

[2019-02-06 17:07] thomseddon commented on #27
Yep, that will be the issue - the way this tool works at the moment is to look at the protocol of the request as received by traefik.

I could look at a way to override this in the future but unfortunately this wouldn't be a quick fix for me

[2019-02-06 17:15] moreiramarti commented on #27
Ok I understand
Thanks you for tour help

Le mer. 6 févr. 2019 à 18:07, Thom Seddon <notifications@github.com> a
écrit :

[2019-02-12 15:13] romracer commented on #11
I was able to get this working with Kubernetes.  I run traefik-forward-auth in the same pod as my traefik ingress controller (I then run several of these in a deployment).  Hence the usage of "localhost" in my forward URL.  I also did not need the auth-trust-headers annotation but maybe your case is different.

The key is applying the auth-* annotations to the auth ingress as it's the auth forward

[2019-02-13 16:09] #27 closed

[2019-02-15 11:25] tnwhitwell opened #28 "[BUG?] redirect_uri always seems to point to the requested domain, regardless of the AUTH_HOST setting"
Hello!

I'm having some issues with getting forward-auth working.

I have multiple subdomains, and I'm trying to get the AUTH_HOST parameter set correctly, but regardless of what I set, the requested domain is always passed to google as `redirect_uri` and it throws an error due to the mismatch.

Any ideas on what I'm doing wrong? The tests are passing A-OK, so i'm stumped.

Thanks!

Tom

My Config

[2019-02-18 21:52] tnwhitwell commented on #28
Turns out I had the network this container on set as `internal`. Setting it as normal, and setting the cookie domain has fixed the problem!

[2019-02-18 21:59] #28 closed

[2019-02-20 18:41] StiviiK opened #29 "Forwarded Ip is ignored"
If Traefik is configured as LB and with `externalTrafficPolicy: Local`, the Ip address logged (and i guess used for verification) is a internal cluster ip, instead of the real client ip.

[code]

[2019-02-21 09:07] Malian opened #30 "Add AccessToken in response headers"
I need to do a collateral call to google APIs from my backend to get additional information about the user (full name, profile picture, team, ...). For that, I need to have the access token. Unfortunately, now I only have access to the user's email.

A solution could be to return the access token in the header key `X-Forwarded-AccessToken` but I think we will have to manage when the access token e

[2019-02-25 11:25] thomseddon commented on #29
The "RemoteAddr" is read directly from the request, so this would be the expected behaviour: https://github.com/thomseddon/traefik-forward-auth/blob/master/main.go#L23

Perhaps this could be improved in this scenario!

I want to test this with kubernetes a bit more, so this would be one to look at whilst that's being done.

[2019-02-25 11:27] thomseddon commented on #11
I've flagged this as one to look at when we improve the kubernetes support/documentation!

Please let me know if the above does not work!

[2019-02-25 11:27] #11 closed

[2019-02-25 11:31] thomseddon commented on #30
Hmm, to be honest, if you're going to the extent of working against the Google APIs then at that point, I think that this use case may actually be best served by created a forward authentication endpoint in your own application?

I'll leave this open for a while to see if there's any further support/justification but my current thinking is that this wouldn't be something we should support.

[2019-02-27 06:56] tibkiss commented on #30
To one of our application it would be a requirement to pass the access token down to the service,
hence I second this ask.

oauth2_proxy is capable of both providing the [access token|https://github.com/pusher/oauth2_proxy/blob/fb1614c87334c45a6c96f991db802c9a2c1c4a7f/contrib/oauth2_proxy.cfg.example#L43] and [refreshing the token|https://github.com/pusher/oauth2_proxy/blob/fb1614c87334c45a6c96f99

[2019-02-28 11:30] owendemooy commented on #20
Hi,

I've just setup traefik-forward-auth docker container for the first time, and after some playing in both overlay and auth-host modes I get the same "Not Authroized" error displayed.

I ran the container up with debug mode and am getting the following error:
Error validating csrf cookie: CSRF cookie does not match state

This is my config (with secrets removed of course):

**traefik-forward-au

[2019-02-28 11:36] owendemooy opened #31 "Not Authorized error"
Hi,

I've just setup traefik-forward-auth docker container for the first time, and after some playing in both overlay and auth-host modes I get the same "Not Authroized" error displayed.

I ran the container up with debug mode and am getting the following error:
Error validating csrf cookie: CSRF cookie does not match state

This is my config (with secrets removed of course):

**traefik-forward-au

[2019-02-28 12:16] MortenRickiRasmussen commented on #31
I Received that too and i seems to be some cookie/cache related issue. Either wait a couple of hours or try a different browser/ Incognito

[2019-02-28 12:45] Admin9705 commented on #20
this is a bit related, but have it all deployed @
https://github.com/PGBlitz/PGShield - We use traefik and have the menu
built out. some clues may help you.

On Thu, Feb 28, 2019 at 6:30 AM owendemooy <notifications@github.com> wrote:

[2019-02-28 12:57] owendemooy commented on #31
OMG,so in all my testing I had forgot to try Incognito mode... I had tried both Chrome and Edge... But that was prob whilst the config was not right... so retested with Incognito mode and hey presto its working...

Thanks this can be closed 👍

[2019-03-02 08:59] robertbaker commented on #31
I don't think this should be closed. I run into this problem frequently. It may be because we need a traefik header

[2019-03-02 09:02] robertbaker commented on #31
Related https://github.com/thomseddon/traefik-forward-auth/issues/20

[2019-03-05 17:07] drubin opened #32 "Publish 0.1.0 to docker hub"
Currently, there are only 2 tags `dev` and `latest` it would be great if you published the `0.1.0` as a tag which is immutable

https://hub.docker.com/r/lslio/traefik-forward-auth/tags
https://github.com/thomseddon/traefik-forward-auth/releases

Also is it possible to make use of dockerhub's automated builds so they are verifiable?

Thanks for this! It's a simple approach in the absence of traefik

[2019-03-05 17:43] thomseddon commented on #32
Great point! I had been meaning to do this with the upcoming v2 release, I've been building all the backwards comparability but the sooner people can start using the tagged v1 release the better.

I've just added a "1" docker tag: https://hub.docker.com/r/thomseddon/traefik-forward-auth/tags

[2019-03-05 17:43] #32 closed

[2019-03-05 21:37] drubin commented on #32
@thomseddon thanks for the update any chance we can get the tags pushed `0.1.0` so they match? I think docker-hub has an automatic integration that builds tags/releases on github v1 and v2?

[2019-03-05 22:27] thomseddon commented on #32
So they match what?

[2019-03-05 22:28] thomseddon commented on #32
Ah sorry, I have just seen I published a git tag with 0.1.0!! I had forgotten about this, I will update the builds tomorrow

[2019-03-06 17:59] thomseddon commented on #32
I've just published a 0.1.1 tag based on the latest code which docker hub has dutifully built :)

[2019-03-06 18:14] drubin commented on #32
Thanks very much!

[2019-03-12 20:30] joanfabregat opened #33 "Example of K8s conf"
Hi,

If you're interested, here is an example Kubernetes configuration for traefik-forward-auth using `AUTH_HOST`:
[code]

And without the `AUTH_HOST`:
[code]

And here is how to configure an authenticated ingress using annotations (equivalent to Compose / Swarm labels):
[code]

Also, here the command to encode the secrets in base64:
[code]

Best

[2019-03-16 06:06] starcraft66 opened #34 "Support Strict-Transport-Security"
It would be a good feature to have configuration options allowing the enablement of strict transport security headers including the duration, subdomain inclusion flag and the preload flag so that the initial redirect to the google login page sends the Strict-Transport-Security header.

It is only currently possible to send this header after authenticating with Google via traefik configuration.

[2019-03-17 08:30] andig opened #36 "Limit forward auth to selected domains"
Originally asked this on SO: https://stackoverflow.com/questions/55200953/can-i-use-forward-auth-only-for-some-domains-with-traefik

I would like to use traefik with forward auth using an oauth provider. In traefik, forward auth config is tied to an entry point.

However, I only want to apply foward auth to some of the configured domains. Domain configuration is not part of the entrypoint config.

[2019-03-17 14:53] andig commented on #36
I've added a proof of concept to demonstrate what I was thinking of. Please let me know if this is something you would consider.

[2019-03-18 17:10] thomseddon commented on #36
Hi, thanks for getting in touch!

This would actually be something that's supported in the upcoming version 2: https://github.com/thomseddon/traefik-forward-auth/pull/26

Your use case is the exact one I was trying to solve for myself :) With the above, you could specify what you'd like to allow through.

[2019-03-18 17:12] thomseddon commented on #34
Closing now we have the PR

[2019-03-18 17:12] #34 closed

[2019-03-18 17:18] thomseddon commented on #31
Hmm, I have a similar issue where I've clicked the wrong google account, my only option is to clear cookies and try again - sounds like this could be the same root cause - I wonder if there is a better UX for this?

[2019-03-18 17:45] andig commented on #36
Subscribed to #26, for time being my ugly attempt will fill the gap

[2019-03-18 17:45] #36 closed

[2019-03-18 21:47] robertbaker commented on #31
It's not the same cause. It does happen if you do the same thing but I did not choose the wrong account.

I believe it may be due to a missing header on traefik and/or its like it can't refresh the token on it's own.

[2019-03-19 16:07] thomseddon commented on #31
@robertbaker what do you mean it's missing a header?

[2019-03-21 06:40] robertbaker commented on #31
In the #20 I believe it's mentioned. The Forwarded URI or auth trust
heaters.

Although I think it's more likely a bug where its not refreshing the
expired token

On Tue, Mar 19, 2019, 9:07 AM Thom Seddon <notifications@github.com> wrote:

[2019-03-21 10:25] kamilmirza opened #38 "support ARM & ARM64 architectures"
as per title
kindly add support for arm and arm64

[2019-03-22 21:51] 726a67 commented on #31
I experience the same issue intermittently in auth_host mode, via both desktop and mobile browsers.

`time="2019-03-22T13:48:49Z" level=warning msg="Error validating csrf cookie: CSRF cookie does not match state" RemoteAddr="x.x.x.x:xxxx" csrf=<xyz> state="<zyx>:https://<domain>/"`

[2019-04-16 03:40] chenrui333 commented on #29
I can actually use `docker-compose-dev.yml` to reproduce this issue.

0. create OAuth API, configure `http://localhost:8085/_oauth`
1. update the `traefik-forward-auth` env setup
2. `docker-compose -f docker-compose-dev.yml up`
3. update virtual host and access `http://localhost:8085`

I can always see
[code]

[2019-04-16 03:41] chenrui333 commented on #29
http request would be like below:
[code]

[2019-04-16 03:46] chenrui333 commented on #29
I turned on the DEBUG log:
[code]

[2019-04-16 03:48] chenrui333 commented on #29
Now I comment out the lines:
[code]

Seems working for my favor now.

[2019-04-18 15:13] thomseddon commented on #29
I've just pushed a commit that should fix this: https://github.com/thomseddon/traefik-forward-auth/commit/f1ba9b5ac49abac977651552193b3ea87166b423

I will tag and release this next week :)

[2019-04-18 16:25] thomseddon commented on #38
I will add an arm build to the v2 branch :+1:

[2019-04-18 16:31] thomseddon commented on #38
Note to self: https://billglover.me/2018/10/30/multi-architecture-docker-builds/

[2019-04-18 16:35] thomseddon commented on #30
Okie dokie, this shouldn't cause any issues so I'm game for working on this, I'll target 2.1

[2019-04-18 17:45] shbatm opened #42 "Redirect Loop when trying to use docker-compose auth-host example"
I'm having trouble and getting stuck in a redirect loop when trying to set-up an auth-host in the `docker-compose` file.  In your example, there is no `"COOKIE_DOMAINS=example.com"` in the docker-compose file, but the README states that this is required for an AUTH-HOST.  When I add that line, I get stuck in the loop.  When I remove it, the login works, but only for hosts that I have configured in

[2019-04-18 17:49] shbatm commented on #42
I just saw #41 and it looks like it might be related?

[2019-04-18 19:23] thomseddon commented on #42
Hmm, I can't see an obvious problem with your config - does it work without the auth host?

As this has cropped up a few times, I may need to add more debug logging for a rejected request to help drill down into the cause.

[2019-04-19 02:55] shbatm commented on #42
Yes, it worked fine without the auth-host--until I restarted my server.  I couldn't connect to anything that used the `traefik-forward-auth` provider until I updated the docker-compose file to use `http://traefik-forward-auth:4181` instead of `auth.example.com` which got things working again -- tried auth-host again after this change but had the same result.

[2019-04-24 05:36] jnanthony14 commented on #42
I was having a similar issue. I only had the redirect loop with https, http worked fine. I think my mistake was trying to use `https://traefik-forward-auth:4181` instead of `http://traefik-forward-auth:4181` on the https entrypoint.

Here are my final working configs.

traefik.toml

[code]

docker-compose.yml

[code]

[2019-04-24 09:43] thomseddon commented on #15
This has been released with the v2.0.0-rc1 tag on docker hub and will be officially released shortly, documentation is here: https://github.com/thomseddon/traefik-forward-auth/tree/dev

[2019-04-24 09:43] #15 closed

[2019-05-01 13:22] noelcatt commented on #14
I made a quick patch as I required this functionality myself.  The existing codebase works well, simply pulling in an oidc issuer through a oidc-connect '.well-defined' endpoint.  I have confirmed this as working for Google, Microsoft, and a self hosted KeyCloak - I assume any other oidc-connect compliant oauth provider should work too, by using the issuer url.  These services have the following e

[2019-05-01 15:30] travisghansen commented on #14
I've been working on a new project which may be of help to those interested.  It works with any number of providers all under a single deployment (ie: deploy the service once and multiple frontends can point to the service each with varying providers/configurations).  It's reaching `beta` state and I'll be tagging a version today.  Everything for basic authentication is in place and functioning.

[2019-05-05 08:21] shbatm commented on #42
I confirmed that using forward auth/auth host on entryPoints works:

[code]

But using forward auth / auth host on a host-by-host basis (e.g. the following docker labels, but no auth.forward in the entryPoints) does not--I get the redirect loop.  I can't figure out what's going on with it.

[code]

[2019-05-05 08:46] shbatm commented on #42
Well... after pulling my hair out and going for one last-ditch effort: I added the auth.forward labels to the traefik-forward-auth container itself... and it worked!!  Final set of labels on the `traefik-forward-auth` container in my docker-compose:

[code]

This can be closed, but maybe something could be added to the README/Wiki about this situation (using an Auth Host with host-by-host authoriz

[2019-05-07 10:40] thomseddon commented on #42
This is a brilliant find, I have added extra documentation & clarification for this into the v2 branch

[2019-05-07 10:40] #42 closed

[2019-05-07 10:40] thomseddon commented on #42
@shbatm thank you greatly for that!

[2019-05-08 06:56] sharkoz commented on #28
How did you diagnose this ? I am having the same problem but my network is not internal, I don't know where to look... It behaves like I didn't set the AUTH_HOST variable but I did... I see nothing in the logs that would explain why ?

[2019-05-08 10:35] thomseddon commented on #28
@sharkoz can you post your config?

There is more debug logging in v2, and I'm planning to add more before the release (hopefully next week, very close now in #26 ).

[2019-05-08 20:32] sharkoz commented on #28
Thanks @thomseddon , I realised it didn't work because I didn't set the COOKIE_DOMAIN... I think I mixed up because I used the demo compose.yml from master while I am using the v2 image.
Anyway it's working fine for me now. Keep up the awesome work !

[2019-05-09 10:44] sharkoz commented on #31
I can confirm I have the same error even after deleting my cookies...

[2019-05-09 19:27] travisghansen commented on #14
As a follow up to the comments above, I adjusted the scope of the project to be a generic external auth server.  I went ahead and implemented 6 plugins (so far) including oauth2, OpenID Connect, ldap, htpasswd, request param, and request header.  In addition, the plugins can be put into a pipeline within a single configuration.  For example you can enable both basic auth (via htpasswd or ldap) and

[2019-05-10 10:34] funkypenguin commented on #14
I've tested this patch (https://github.com/noelcatt/traefik-forward-auth/commit/718764a110ba7314fc3c14f1cf1987f37942fef7) with KeyCloak, works well. @thomseddon is there already something like this in the works, and if not, would you like a PR against this repo to include the patch?

[2019-05-10 11:17] thomseddon commented on #14
I did a quick POC using goth in the Dev branch which was quite nice and easy (this is available in the expr/goth-test branch) .

My plan is to release 2.0 next week, then I'd like to do a similar thing to this against that branch. I'd love a PR for this if you fancy it? Also pegged for the 2.1 release is support for docker container labels :) (most if this work was already done in another PR)

[2019-05-11 16:51] darth-veitcher commented on #14
An example showing usage with Keycloak would be brilliant. Thanks for this. 👍🏻

[2019-05-16 02:26] funkypenguin commented on #14
Here's a freshly-cooked recipe showing traefik-forward-auth authenticating against KeyCloak in AuthHost mode : https://geek-cookbook.funkypenguin.co.nz/ha-docker-swarm/traefik-forward-auth/keycloak/

And here's another recipe for configuring the KeyCloak client : https://geek-cookbook.funkypenguin.co.nz/recipes/keycloak/setup-oidc-provider/

Cheers!
D

[2019-05-16 06:20] darth-veitcher commented on #14
Thanks @funkypenguin for that. Just for my understanding does this method offer the same granular level of access control that gatekeeper gives? ie. the ability to filter by users/groups etc. per resource. Or does it just validate that someone is a user and then forwards them on.

Example would be protecting the Traefik dashboard - I might only want members of the `admin` group able to see that.

[2019-05-16 13:50] travisghansen commented on #14
@funkypenguin I just read through the cookbooks, cool stuff.  A design idea that may be of interest that I've done in my project to overcome the limitations (ie: the 2 conditions mentioned) of `AuthHost mode` was to make the endpoint (`https://auth.example.com/_oauth`) a simple relay/forwarder.

In the `state` I encrypt a handful of data points including the originally requested URI.  When the cal

[2019-05-16 14:02] thomseddon commented on #14
@travisghansen I like that design approach to allow the use of an auth host without having to ensure domain/subdomain alignment - I will think about a nice way to demonstrate and document this, but I think it will certainly be useful for some people.

[2019-05-16 14:08] travisghansen commented on #14
@thomseddon yeah, one of the limitations with it I've been thinking about is technically the spec allows for callback methods other than `GET`.  To support `POST` I suppose you could expose the `POST` method on the auth endpoint and instead of forwarding the browser initially maybe make the service itself first execute the post and then redirect....haven't given much thought to it but something to

[2019-05-16 14:34] seuf commented on #28
Hi, I've the same issue here in kube deployment. I'm mixing config, environment and command line options.
I've tried both the `latest` and `development` version.
here is my deployment :
[code]
the secret contain a
[code]

I've created service for traefik-forward-auth + an ingress for auth.company.foo .
Then, when I create an ingress with annotations for traefik-forward-auth :
[code]
But when I'm r

[2019-05-17 13:10] seuf commented on #28
My Bad. I was trying to use an other domain "company.foo" to set cookies for other domains. In my case I can't use auth_host at all.

[2019-06-01 20:25] tnwhitwell commented on #31
I don’t suppose a “logout” endpoint is in the works?

[2019-06-01 20:54] zetas commented on #31
FWIW I've been struggling with this issue for months with no good workaround except to logout of all google accounts, delete all google related cookies and cache, and close and re-open the browser. It happens every month or so and it's incredibly annoying.

The incognito mode fix does work for me though so I think it's safe to say it's something to do with caching and tokens. When I get the "not a

[2019-06-02 09:51] mdbraber opened #44 "Using multiple OIDC issuers or multiple client-id+secret?"
Hi!

First off - thanks for writing this excellent package! I'm successfully using a my [own fork](https://github.com/mdbraber/traefik-forward-auth) based on @funkypenguin's fork to allow using with my own OIDC provider (in this case [dex](https://github.com/dexidp/dex)).

As I've separated my LAN in to different VLAN segments (e.g. admin services and normal services), I'd like to use be able to g

[2019-06-02 14:00] dalanmiller opened #45 "Support for traefik 2.0?"
Hi there!

Curious if you plan to support Traefik 2.0? I had everything working with Traefik 1.7 but now when I get redirected to Google, I'm seeing that the destination host name is being passed instead of the host name of the `traefik-forward-auth` container. Any thoughts on why this might be?

e.g. I have `container1` at `c1.sub.domain.com` which requires auth via `auth.sub.domain.com`, when I'

[2019-06-02 18:40] thomseddon commented on #45
Yes! We'd definitely want to support 2.0, it's still alpha though isn't?

Perhaps they've changed the headers.

I'll have a look, but it probably won't be a priority until it hits beta?

[2019-06-03 06:19] dalanmiller commented on #45
Yup still alpha.

It appears though that the ForwardAuth middleware was just copypasta'd over.

https://github.com/containous/traefik/blob/v2.0/pkg/middlewares/auth/forward.go

And then it appears that all headers are forwarded by default now from the auth responder.

https://github.com/containous/traefik/commit/3d7633f4a6639a9218a40916290f8ae56add04e3#diff-5b170f890426c7bcf124e6c2dd6570c9

[2019-06-03 13:27] dalanmiller commented on #45
An update that with the following label set, the ForwardAuth will work but only in overlay mode (where I have to add every host + path to the Google Console). Auth Host mode seems to no longer work.

Any advice on how I can see what is being passed to the `traefik-forward-auth` container?

[2019-06-07 15:49] mdbraber opened #46 "Timeouts?"
Hi,

I've set up traefik-forward-auth (from @funkypenguin's patch). It works great, but in some case I get timeouts where I can't access the hosts behind the Traefik controller. I'm thinking the bottleneck is traefik-forward-auth which is not able to process the request in time? I can't find any logs though that help me diagnose where the problem is. Anyone else experienced timeout or slowness usi

[2019-06-10 11:35] thomseddon commented on #45
If you enable debug logging you will see all the headers being passed, it would be interesting to see what's different

[2019-06-10 11:37] thomseddon commented on #46
Are you seeing a log when the request is received?

What provider are you using?

[2019-06-10 11:41] thomseddon opened #47 "OIDC Support"
- https://github.com/funkypenguin/traefik-forward-auth
- https://github.com/noelcatt/traefik-forward-auth

[2019-06-10 11:42] thomseddon commented on #44
Hi!

With tfa v0, the easiest fix would be multiple instances of tfa.

With tfa v2 you can pass credentials on a per-provider basis, however we still only support Google! OIDC support is being tracked in #47

I'm going to close this issue as there's a solution and path forwards tracked separately, but please feel free to re-open if you have any further questions!

[2019-06-10 11:42] #44 closed

[2019-06-10 11:44] thomseddon commented on #29
This is included in v2 which has been released today

[2019-06-10 11:44] #29 closed

[2019-06-11 00:59] tardfree opened #48 "v2 breaks support for configuration lists on environment variables"
I've used environment variables exclusively for configuration rather than files.
This included multiple domains in the DOMAIN environment variable.
The recent push of v2 to the latest tag on docker hub broke my auth (as I had watchtower updating for me) with a log message:
`time="2019-06-11T00:40:13Z" level=error msg="Invalid email" email=<redacted valid email> source_ip=<redacted IP>`

I think th

[2019-06-11 04:52] robertbaker commented on #31
@zetas simply completely closing chrome (including tray icon) should be the only thing you need to do to fix it.

[2019-06-11 09:07] thomseddon commented on #48
Thank you for the bug report! I tried to do as much testing as I could in #26 but inevitably some bugs may slip through, the goal of v2 was to be fully backwards compatible so I'll look to push a fix ASAP.

I've just added some extra tests in https://github.com/thomseddon/traefik-forward-auth/commit/fd1b87072482e70d2d67f331477ad87faff4adbb and everything seems to work as expected.

Please could yo

[2019-06-11 11:17] thomseddon opened #50 "Handle error in URI parsing"
https://github.com/thomseddon/traefik-forward-auth/blob/master/internal/server.go#L52
https://github.com/thomseddon/traefik-forward-auth/blob/6ccd1c6dfc2f60a8b8942570bf6651b45e3b4a69/main.go#L22-L27

[2019-06-11 11:47] tardfree commented on #48
No problem.

The config I was using which I saw the bug on had the following environment variables set (viewed from docker inspect, this is all of them except PATH, names changed too)
[code]

If it helps, the domain I was trying to authenticate with was the middle one of the 3.
To work around the issue I've redeployed with a single domain in the list (until I'm back in my home country) and this is

[2019-06-11 11:50] tardfree commented on #48
Oops didn't answer the rest of your questions.
Before behaviour was users in the middle domain were able to authenticate as expected and get redirected to the intended page.
After the update, I received the "Not authorized" string in the browser, and the log message in the first post.
I'm not sure if any of my users in the other domains (first and third) have ever logged in, so that might not have

[2019-06-11 12:15] #48 closed

[2019-06-11 12:17] thomseddon commented on #48
Brilliant, I think I found the bug, I had incorrectly thought the v0 config option was called `domains`, however I can now see it was called `domain`!

I have fixed CSV support for `domain` and added tests for both the flag and the env var. I've also removed the `domains` config as this was never needed!

[2019-06-11 12:18] dalanmiller commented on #45
Raw debug logs below from `traefik-forward-auth` and `traefik:v2.0`:

[code]

One thing that's interesting is that 192.168.1.1 is my router? It would be the last hop to the Docker host from my client laptop but seems weird to use that in a couple places.

[2019-06-11 12:18] thomseddon commented on #48
*I've pushed the fix in https://github.com/thomseddon/traefik-forward-auth/commit/3e924002024c2cc569ab3506ed44e24e5fb3b542

Thank you for your bug report and sorry for causing you an issue whilst you were away!

[2019-06-11 12:23] tardfree commented on #48
Thank you for the very quick fix and this simple tool. :)

[2019-06-11 12:25] thomseddon commented on #45
Hmm, all seems to look OK...

This will require a bit more investigating into the source to check what's going on.

[2019-06-11 12:39] dalanmiller commented on #45
https://docs.traefik.io/v2.0/middlewares/forwardauth/

Here's all the new labels:

[code]

[2019-06-12 18:29] Queuecumber commented on #31
Getting the same error intermittently, completely closing chrome didnt fix it

[2019-06-12 21:41] mdbraber commented on #46
@thomseddon thanks for taking the time to respond! No I'm not seeing no request in the logs at the moment it's timing out. At the same time (doing a simultaneous ping) the host is still reachable, so from the first idea it won't seem like core network issues.

If I'm correct a request to a Traefik backend with traefik-forward-auth follows the following path (presuming a valid cookie is set already

[2019-06-13 12:24] Queuecumber commented on #31
The weird thing is that it lets me access some of my endpoints but not others when this happens. E.g. some work fine some give the "not authorized" text

[2019-06-13 14:23] thomseddon commented on #31
So I think I might have found the cause of this, after a cookie expires the existing behavior was just to throw an error.

I have just pushed a change which means that the users will be redirected to Google login instead.

If someone would be willing to test the `latest` tag on docker, with error logging enabled, that would be hugely helpful.
I know this can take some time to replicate, so if anyo

[2019-06-13 14:35] Queuecumber commented on #31
Just tried it, still getting the error. My log level is set to debug, let me know what to look for

[2019-06-13 14:51] thomseddon commented on #31
Can you double check you're running the image with the tag: 3e6ccc8f

Do you get any logs with the 401?

For extra info, 401 can returned from 4 places:

- AuthHandler - invalid cookie: https://github.com/thomseddon/traefik-forward-auth/blob/3e6ccc8f45c64b40d4f273fcd6603456cefa2d6c/internal/server.go#L79-L89
- AuthHandler - invalid user: https://github.com/thomseddon/traefik-forward-auth/blob/3e6c

[2019-06-13 15:11] Queuecumber commented on #31
I wasn't able to come up with a good way to check this. The only docker tag on that is latest and I restarted a couple of times, so it should have pulled the image.

I actually do not have any 401 errors in the log

[2019-06-13 15:29] Queuecumber commented on #31
One thing that seems to work consistently is getting to the "not authorized" page, then visiting a different endpoint that for whatever reason works, then going back to my original endpoint lets me continue to the page I wanted.

[2019-06-13 15:33] tnwhitwell commented on #31
I've done a thing in branch [`add-logout-endpoint`](https://github.com/tnwhitwell/traefik-forward-auth/tree/add-logout-endpoint) on my fork that, in theory, adds a `/_tfa-logout` endpoint which will clear the local `_forward_auth` cookie.

I have written tests, which pass, but I want to do some functional testing before I actually submit a PR. However, I flubbed an unrelated IP on my home setup, a

[2019-06-13 15:36] Queuecumber commented on #31
I actually added a logout endpoint to my landing page which does the same thing, I've also been manually deleting the cookie and disabling caching before running these tests so I don't know if that will solve the problem

[2019-06-14 10:00] thomseddon commented on #31
Could you do a docker inspect on the container, mine is showing: `Image": "sha256:97d5ed375d0c1fa946b74d4381ab912199056da56d5c2af7a78c87ee074d240f"`

I actually think my changes in https://github.com/thomseddon/traefik-forward-auth/commit/3e6ccc8f45c64b40d4f273fcd6603456cefa2d6c are a red herring (which I will partially revert), the browser will expire the cookie after that time so it is actually

[2019-06-14 12:17] Queuecumber commented on #31
I'll double check the image hash

Indeed it's directly after I log into google that I get this screen, which is part of why it makes no sense since I've just logged in.

[2019-06-14 12:43] thomseddon commented on #31
Interesting, could you check what cookies are sent before you're redirected to Google (you can inspect the headers on the 307 redirect in your browser)? Are you using the auth host?

[2019-06-14 14:34] mdbraber commented on #46
This can be closed - the source of the problem was assymetric routing causing packets not to arrive at the right destination.

[2019-06-14 14:34] #46 closed

[2019-06-15 06:29] atmosx opened #51 "Limit access to specific subdomains"
Hello!

I'm looking for a traefik oauth2 solution and came across this great project. I'm trying to figure out if I can put a specific set of subdomains behind google OAuth2.  For example:

- service1.domain.com (no OAuth2)
- service2.domain.com (redirects for OAuth2)

Ideally, I'd have to use something like labels. I came across issue #26 but I'm not sure how the configuration works.

[2019-06-16 01:00] Queuecumber commented on #31
Sorry for the late reply, I'm in the process of rebuilding that cluster right now, when it's settled down I'll look into the cookies for you

[2019-06-17 19:14] atmosx commented on #51
Playing around with the application, I figure out a few things, so I'm closing this as the linked ticket offers a few hints about how to do this using `HostRegexp`.

[2019-06-17 19:14] #51 closed

[2019-06-18 12:13] Queuecumber commented on #31
In the request to my endpoint, I see

[code]

The 307 response has

[code]

[2019-06-18 12:55] thomseddon commented on #31
Hmm, so that's why it doesn't work - but why doesn't the cookie match? My first thought would be a domain missmatch?

[2019-06-18 22:40] thebetterjort commented on #47
time="2019-06-18T22:37:52Z" level=fatal msg="client-id, client-secret, secret and oidc-issuer must all be set"

[code]
      - traefik.port=4181
      - traefik.frontend.rule=Host:auth.127.0.0.1.xip.io
      - traefik.frontend.auth.forward.address=http://traefik-forward-auth:4181
      - traefik.frontend.auth.forward.trustForwardHeader=true
)

[2019-06-19 12:05] Queuecumber commented on #31
Domain is correct and if it was that I would expect it to fail for every domain. The only obvious difference is that the working domains set `x-forwarded-user` and the failing ones don't

[2019-06-19 15:24] TRT-NoelC commented on #47
In your 'environment' config you have set 'OIDC-ISSUER' with a dash '-', where it should be an underscore '_', reading 'OIDC_ISSUER', inline with the other config settings.

[2019-06-19 15:26] noelcatt commented on #47
In your 'environment' config you have set 'OIDC-ISSUER' with a dash '-', where it should be an underscore '_', reading 'OIDC_ISSUER', in line with the other config settings.

[2019-06-19 15:37] noelcatt commented on #14
Sporadic visitor :)

I would have raised a PR if it wasn't a breaking change from @thomseddon original design to target google.  It would be feasible to default to the google oidc, and allow an override.

[2019-06-19 17:30] thebetterjort commented on #47
Thank you, but that was a typo. The same error still occurs. Container crashes.

[2019-06-24 13:37] dalanmiller commented on #11
Getting this same loop using Traefik v2.0:
`traefik.toml`
[code]

`docker-compose.yml`
[code]

In the end I get a list of 302 and 307 redirects between `auth.sub.domain.com` and `accounts.google.com`. I'm also not seeing a `X-Forwarded-URI` anywhere in the logs.

[2019-06-24 22:35] dalanmiller commented on #11
#45 Not sure if related to v2.0

[2019-06-26 05:09] atmosx opened #55 "Getting infinite redirects"
I'm trying to setup oauth2 configuration in docker swarm with traefik + traefik-forward-auth. My `traefik-forward-auth:v2.0.0` configuration is:

[code]

Service traefik labels configuration:

[code]

Debug logs from `traefik-forward-auth`:
[code]

The google oauth2 uses the domain "auth.example.com/_oauth".

1. Request to internal-website.example.com/
2. User redirected to Google login
3. After G

[2019-06-26 05:27] atmosx commented on #55
Following the advice found at https://geek-cookbook.funkypenguin.co.nz/ha-docker-swarm/traefik-forward-auth/ I added the following labels to the `traefik-forward-auth` container as well:

[code]

and it worked!

[2019-06-26 05:27] #55 closed

[2019-06-26 22:42] westfood commented on #31
I am experiencing exactly same issue as Queuecumber. "Not authorized" after google authentication. Docker Image: ```97d5ed375d0c```. Traefik services handle traffic on port 8080.

Command is: ```--cookie-domain=somewhere.com --cookie-domain=test.somewhere.com --cookie-domain=auth.test.somewhere.com```
In my env: AUTH_HOST: ```auth.test.somewhere.com:8080```

services I am authenticating are path b

[2019-06-30 02:02] dalanmiller commented on #45
Hey @thomseddon I've progressed my experimentation a bit more at containous/traefik#4972 but I put together what I'm observing in this swimlanes diagram:

https://swimlanes.io/d/jstlkzV_T

[2019-07-09 10:24] Webunity commented on #47
@thomseddon can you maybe elaborate when you are able to incorporate Keycloak (OICD)? This way i can move over to your repo instead :-)

[2019-07-09 10:26] Webunity opened #57 "Whitelist per TFA domain?"
Precondition: I have one TFA instance deployed, with for example google auth configured.
i want to secure both domain1 & domain2; but domain1 i would only want to allow some@user.com and for domain2 i want to allow both users. Is this currently possible to use docker compose and inject separate whitelists per container?

[2019-07-09 10:30] thomseddon commented on #47
I've been working on this myself this week! My goal would be this week, but unfortunately things slip due to other priorities

[2019-07-09 10:31] thomseddon commented on #57
No! But it's a good idea, this could be something that we integrate into the rules config.

[2019-07-09 11:40] Webunity opened #58 "docker-compose-auth-host.yml correct?"
The way the file examples/docker-compose-auth-host.yml is composed, it looks like the whoami container is not yet protected by traefik-forward-auth. Shouldn't the whoami container require these extra labels?

[code]

[2019-07-10 14:36] Webunity opened #59 "[auth-host] Almost there, but not quite yet."
What happens is this:
- When i browse to **http://consul.mydomain.io/** i am succesfully redirected to SSL using the redirector service set at consul (see below config), so i am redirected to **https://consul.mydomain.io/**.
- This then knows that i am not authenticated so it redirects me to the authentication host (Keycloak in my example, with redirect URL **https://auth.mydomain.io/_oauth**)
- I

[2019-07-10 15:09] thomseddon commented on #59
it looks like you're using traefik acme to generate your SSL certs, as such your `traefik.frontend.rule` label on the `traefik-forward-auth` container should prompt traefik to generate the certificates.

If you could increase your traefik logging it should show you what certificates it's generating

[2019-07-10 15:20] Webunity commented on #59
@thomseddon what loglevel do you want me to use?

p.s. if i host consul on http, like this:
[code]

With the following traefik-forward-auth config:
[code]

It works fine, i get redirected to KeyCloak (running on HTTPS, hence the cookie_secure=false flag) but once authenticated i am redirected to consul as authenticated user on http.

[2019-07-10 15:51] Webunity commented on #59
@thomseddon you can close the issue, hoping to switch to v2 soon :)

[2019-07-10 15:56] thomseddon commented on #59
Haha, sorry I didn't spot that was missing! Glad it's sorted!

[2019-07-10 15:56] #59 closed

[2019-07-11 06:14] Webunity commented on #57
@thomseddon maybe it would be an idea to have more options configurable per domain (for example clientId/Secret to still allow different login flows but with only one TFA instance). P.s. is the `lifetime` cookie setting also thesame name in v1?

[2019-07-12 20:56] markusschuettler opened #60 "email field in cookie is empty"
Hi,

I followed the Readme in setting up the forward-auth and the google oauth settings.
Running forward-auth 2.0.1 with traefik 1.7.12 on k8s with the .yml from issue #33.
Everything works fine, except the e-mail based whitelisting, where I am always rejected as unauthorized.
When checking the logs, I noticed that the email field in the cookie is empty:
[code]

Any idea what might be the issue?

[2019-07-15 11:21] #58 closed

[2019-07-28 12:57] dalanmiller commented on #45
Investigating a bit further it appears that I'm still endlessly being redirected to Google. Reading through `server.go` it appears that the `AuthCallbackHandler` is never firing and I'm constantly getting the `authRedirect` handler.

Here's my redirect request after authentication on Google as observed from my browser:
[code]

`traefik-forward-auth` just responds with a 307 and the circle continue

[2019-07-29 15:08] Poltergeisen opened #61 "[Request] Example website / end result"
Would it be possible to host this externally to show an example of what the landing page might look like?

[2019-07-31 11:06] tdorsey opened #62 "Error exchanging token"
I’m running an auth host in k8s that previously worked. Lately for no obvious reason, I’m getting the Following:

level=debug msg=Done source_ip=10.42.0.1
time="2019-07-31T08:20:15Z" level=debug msg="Handling callback" headers="map[Accept:[text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8] Accept-Encoding:[gzip, deflate, br] Accept-Language:[en-us] Cookie:[_forward_auth_csrf=558dc9a0

[2019-08-10 22:12] ahmedmagdiosman opened #64 "No prompt for user login unless logged out of Google account"
If I'm logged in using a different non-whitelisted account using Chrome browser, I get a  "Not Authorized" without prompting me to login with the other authorized account.  On the other side, if I'm using Chrome with the whitelisted account logged in, I don't get the login consent and get authorized automatically.

Is there an config to force account selection?

 It should be possible with: ``prom

[2019-08-11 08:56] robertbaker commented on #45
Traefik 2 is beta now, any updates on this?

[2019-08-11 12:22] tdorsey commented on #64
set the environment variable PROVIDERS_GOOGLE_PROMPT=select_account

On Sat, Aug 10, 2019 at 6:12 PM Ahmed Magdi Osman <notifications@github.com>
wrote:

[2019-08-11 12:28] ahmedmagdiosman commented on #64
Thanks a lot! I don't know how I missed it. It's right there in the README.

[2019-08-11 12:28] #64 closed

[2019-08-15 12:35] robertbaker commented on #61
There is no landing page. You just get redirected to the Google Account Choose Screen or The Google Login screen, then once you choose your google account / login, then it redirects to whatever container your using

[2019-08-15 12:42] robertbaker commented on #45
I was able to test with traefik 2. Getting the config right is a PITA, but now I'm getting not_authorized or an endless redirect loop on the google login page when I go icognito.

[2019-08-15 14:50] ageisen2000 commented on #61
Thanks for the answer! I'll close this.

[2019-08-15 14:51] Poltergeisen commented on #61
Thanks for the answer! I wasn't sure if that was the case or not. Closing this issue.

[2019-08-15 14:51] #61 closed

[2019-08-18 17:29] Webunity opened #65 "AUTH-HOST not working"
For some reason, Google keeps telling me:
`The redirect URI in the request, ..., does not match the ones authorized for the OAuth client`

This is my Forward Auth compose:
[code]
And this is one of my services' compose section:
[code]

What am i doing wrong?

[2019-08-18 20:27] thomseddon commented on #65
Assuming "..." is the correct host then this should just be due to missing configuration in the Google console, please can you confirm that the exact uri listed has been added to the list of authorised redirect uris (protocol host and path all need to be exactly correct)

[2019-08-23 05:31] cry commented on #47
@thomseddon has there been any progress on this? If not, I'm happy to try implementing

[2019-08-23 07:37] cry commented on #45
This is related to #11, traefik-forward-auth never calls `AuthCallbackHandler` since `X-Forwarded-URI` is never passed, as seen here:

[code]

If forwarded auth isn't enabled on all endpoints, traefik never adds the header with the example configuration since it doesn't treat it as a forwarded auth host. Setting the auth container as forwarded auth forces traefik to add the header and everything w

[2019-08-23 07:38] cry commented on #45
This is related to #11, traefik-forward-auth never calls `AuthCallbackHandler` since `X-Forwarded-URI` is never passed, as seen here:

[code]

If forwarded auth isn't enabled on all endpoints, traefik never adds the header with the example configuration since it doesn't treat it as a forwarded auth host. Setting the auth container as forwarded auth forces traefik to add the header and everything w

[2019-08-23 18:42] robertbaker commented on #45
That worked for me, I had to go to chrome dev tools and clear the application data (or just clear browser cookies for the domain, etc).

Here is my traefik 2.0 config

[code]
dynamic_conf.yml

[code]

[2019-08-25 09:08] FuNK3Y commented on #47
What is the plan actually? Simply backport @noelcatt 's code in here? Rewrite something from scratch that support generic OIDC? Follow the goth road?

Depending on the strategy I could also try to help

[2019-08-27 21:03] gheibia opened #66 "Support Azure AD"
I'd like to propose and introduce Azure AD as another supported provider.

**Why**
Traefik is used widely with Azure Service Fabric. It makes sense to protect its api/dashboard with Azure AD.

**How**

We can introduce a config entry for the desired provider and have an interface that's supported by both Google and Azure AD providers. We can then inject the desired provider based on the configurat

[2019-09-01 19:38] rubasace commented on #65
I had the exact same issue:

you are not specifying the COOKIE_DOMAIN envar. DOMAIN is for specifying the authorized domains, auth host mode needs the auth host to be a subdomain of the cookie domain.

[2019-09-03 13:07] dalanmiller commented on #45
I can confirm that I have now have this working! Looking back at my tests, I think the key thing I was missing was applying the `forward-auth` middleware to the `forward-auth` service itself, but I'm not completely sure that was where I went wrong.

OOC @robertbaker how do you determine which services should use your `secureHeaders` middleware? What are your trying to prevent here?

[2019-09-03 19:37] robertbaker commented on #45
@dalanmiller I apply it to all of my services. I don't have a need to use iframes, so I prevent them. I also don't need search robots on my services. The rest of the headers might be defaults or redundant, but they have been recommended on various sites I read.

[2019-09-05 07:51] dalanmiller commented on #45
Great! We can consider this issue closed 👍

[2019-09-05 07:51] #45 closed

[2019-09-10 01:31] #62 closed

[2019-09-12 16:59] #66 closed, assigned to nobody

[2019-09-18 16:47] thomseddon opened #69 "TODO: Switch from fmt.errorf to errors.newf"

[2019-09-19 06:32] SuperSandro2000 commented on #47
I have updated noelcatt changes to the refactor and did a pull over here https://github.com/thomseddon/traefik-forward-auth/pull/68 .

[2019-09-19 10:54] thomseddon opened #70 "Swich from fmt to log everywhere"

[2019-09-19 11:44] SuperSandro2000 commented on #70
There are only two occurrences I could find: https://github.com/thomseddon/traefik-forward-auth/search?q=Printf&unscoped_q=Printf

[2019-09-19 12:52] thomseddon commented on #70
There's also a couple of println's - they're all prior to log initialisation, but I think a better approach (and more testable) would be to create a default logger right of the bat

[2019-09-20 07:20] SuperSandro2000 opened #72 "Rules on the same domain as the auth domain break the redirect"
When I add this rule ``--rules.auth.action=allow --rules.auth.rule="Host(`auth.domain.com`)"`` to allow my auth domain the redirect back to the service breaks and traefik gets stuck on ``auth.domain.com``.

[2019-09-20 15:00] thomseddon commented on #72
Why do you want to do this?

Auth host style redirects should work without this if that's what you're try to achieve :)

[2019-09-20 21:08] SuperSandro2000 commented on #72
Cause I set ``DEFAULT_ACTION=auth`` and I thought that it otherwise wants to authenticate the auth domain.

We should probably add this to the readme.

[2019-09-28 04:43] etho201 commented on #38
Any updates on this? In the meantime I've been able to use the [pusher/oauth2_proxy](https://github.com/pusher/oauth2_proxy) since they do provide an ARM build, but I'm having trouble getting it to work with Traefik v2.

[2019-09-28 07:47] SuperSandro2000 commented on #38
Until this is done you can build yourself an arm image by simply modifying the Dockerfile. If you put ``GOARCH=arm`` right to the other variables right here https://github.com/thomseddon/traefik-forward-auth/blob/master/Dockerfile#L12 it should work.

[2019-09-30 10:02] thomseddon commented on #38
I've added the Dockerfiles but just need to tweak the builds on docker hub, then I'll try to create a manifest :)

[2019-09-30 10:31] SuperSandro2000 commented on #38
Last time I checked this wasn't possible on Docker Hub. Maybe it is on Cloud?
Also any kind of build especially cross compile is teribble slow on Docker Hub and sometimes takes hours to start and build totaling at over 6 hours just to get a 5 MB Image up.

[2019-09-30 15:12] etho201 commented on #38
Are you building locally or directly via Docker Hub? I read on another image that ARM variants can be built on x86_64 hardware using `multiarch/qemu-user-static`.

[2019-10-06 13:05] cry opened #74 "README examples for Traefik 2"
Traefik 2 has finally left beta and is now in general availability! It's probably worth it to add examples on how to use this with Traefik 2 into the README, as its not entirely obvious how to migrate to v2.

I have examples on my blog that I'd be happy to copy paste across if they're actually correct: https://carey.li/2019/10/01/traefik-2-sso-ssl/.

[2019-10-06 13:30] SuperSandro2000 commented on #74
Things I like to be changed before this could happen:

Don't mount ``/var/run/docker.sock`` into the traefik container. Use a proxy like https://github.com/Tecnativa/docker-socket-proxy.

Do not set the api to insecure. Use `` traefik.http.routers.traefik.service=api@internal``.

It is not SSO. I still wouldn't be signed into Gitea or something. It is proxy authentication or something similar.

Lo

[2019-10-08 08:02] tonywangcn opened #75 "command traefik error: field not found, node: auth"
docker version:
Docker version 19.03.2, build 6a30dfc

Error:
2019/10/08 07:58:46 command traefik error: field not found, node: auth

How to reproduce:

run cmd `docker-compose up -d` in example folder. the other two containers started well, but traefik-forward-auth_traefik_1 failed.

[2019-10-09 16:22] tonywangcn commented on #75
fixed by using "traefik:v1.7.16" https://github.com/containous/traefik/issues/5422

[2019-10-13 18:59] rubasace opened #76 "Customize whitelist/domain for specific services/endpoints"
Is it currently possible to override the whitelist/domain for a particular service?

I have a server based on docker-compose with 35 services. Some of them I want them to be accessible but more people than me while the most part of them I would like them to keep private. Is there anything I can customize via labels or similar for such a case?

If not, is it possible to disable the OAuth2 on certai

[2019-10-15 13:41] thomseddon commented on #76
It's not currently possible to set different whitelists, but this is certainly something we could support via the new `rules` config!

I actually quite like the idea of making this and a few other variables editable under `rules` so I'll leave this issue open :)

In the meantime, you can disable OAuth2 with something like:

[code]

See `rule` under: https://github.com/thomseddon/traefik-forward-au

[2019-10-15 13:43] thomseddon commented on #74
I'll have to do some reading to comment on this, happy for any other reviewer to add their comment in the meatime

[2019-10-18 19:25] Webunity commented on #76
@thomseddon isn't this a dupe of my issue #57 ?

[2019-10-18 20:16] Webunity commented on #65
Hi @thomseddon still have thesame issue; here is my config for Traefik v2 (thought that would solve the issue):

On the Traefik container i have setup the midleware for SSO:
[code]

And i've setup the Traefik Forward auth container as this:
[code]

Whenever i do this, i get the "This page isn’t working... accounts.google.com redirected you too many times." error.

[2019-10-18 20:39] Webunity commented on #65
btw @thomseddon , if i remove the `COOKIE_DOMAIN` setting (and re-add the domain i want to protect to the authorized OAuth clients list) it works; can it be that the AUTH_HOST part can't cope with 'auth.sub.domain.info' v.s. 'auth.domain.info' ? e.g. i have a sub-subdomain as auth-host...

[2019-10-19 08:25] gvdhoven opened #79 "How to fix: AUTH_HOST + "accounts.google.com redirected you too many times.""
Make sure you have a "." in front of your COOKIE_DOMAIN setting.

@thomseddon
If you can add some code to ensure a '.' is in place of COOKIE_DOMAIN whenver in AUTH_HOST mode (and update the readme) this issue can be closed :-)

[2019-10-19 12:19] Webunity commented on #79
**This is with COOKIE_DOMAIN set and when i go to the Google login:**
[code]

**This is after a successful (2-factor) authentication, when Google redirects me to my auth_host:**
[code]

**If i run the same request without COOKIE_DOMAIN set, i get this result:**
[code]

**This is after a successful (2-factor) authentication, when Google redirects me to my auth_host:**
[code]

[2019-10-19 12:28] Webunity commented on #79
**FIXED IT! After adding a "." in front of the COOKIE_DOMAIN, it started working.**

If you can add code to ensure a '.' is in place of COOKIE_DOMAIN (and update the readme) this issue can be closed :-)

[2019-10-19 12:47] Webunity commented on #79
update: this is only one part of the solution; i still now get the **redirect_uri_mismatch** from Google quoting: "The redirect URI in the request, https://xxx.at.mydomain.info/_oauth, does not match the ones authorized for the OAuth client."

I think in case of `COOKIE_DOMAIN` the redirect URI should be hardcoded to the `AUTH_HOST` setting (but only if `COOKIE_DOMAIN` is part of `AUTH_HOST`). Goi

[2019-10-19 13:05] Webunity commented on #79
Ok i give up; clearly there is an issue with AUTH_HOST icw with COOKIE_DOMAIN but i am unable to solve it.

If you prefix COOKIE_DOMAIN with a "." you still need to add all URLS in the Google Console, but thesame cookie will be used; if you don't prefix COOKIE_DOMAIN with a "." the authentication isn't working at all.

[2019-10-22 09:38] HedgeShot opened #80 "Multiple whitelist address"
Hi,

I am getting `Invalid email` when I am setting more than one `whitelist` email address. According to the readme, it should be working fine. Here is my docker-compose file related to forward-auth.

[code]

[2019-10-22 17:36] gregfr commented on #55
I have the same problem, where you able to have it working with Traefik 2?

[2019-10-22 18:10] denysvitali commented on #55
@gregfr / @atmosx , try my branch: https://github.com/thomseddon/traefik-forward-auth/pull/78, specifically this commit: https://github.com/thomseddon/traefik-forward-auth/pull/78/commits/da35933d58d45a4d6d4917682f4e42395eda2fc7

[2019-10-23 09:11] SuperSandro2000 commented on #80
You can't declare multiple Environment variables with different values. They should be overridden. Use ``WHITELIST=address1@gmail.com,address2@gmail.com``.

[2019-10-23 09:13] HedgeShot commented on #80
Thanks, it seems to be working for `COOKIE_DOMAIN`, however.

[2019-10-23 10:24] SuperSandro2000 commented on #80
There is nothing in the spec that I found on that the fast that indicates that this works.

[2019-10-23 10:54] thomseddon commented on #80
My understanding is you can only declare each env var once, I did a quick test:

[code]

[code]

As mentioned, you can comma separate :)

[2019-10-23 10:54] #80 closed

[2019-10-23 12:26] HedgeShot commented on #80
I am afraid it isn't working with comma separated values.
It works with the first email address `xyz@gmail.com` but not with the second `aaa@gmail.com`
What am I missing?

I now have `WHITELIST= xyz@gmail.com, aaa@gmail.com`

[2019-10-26 01:31] pyle commented on #79
I also encountered this, where adding the "." infront of cookie domain only partially solves the problem.

[2019-10-26 06:52] denysvitali commented on #79
Can you try my branch?
https://github.com/thomseddon/traefik-forward-auth/pull/78

[2019-10-26 10:36] thomseddon commented on #79
Hmm, I'd definitely like to get the to bottom of this, it's working beautifully for me and others so we just need to track down what's different

@denysvitali do you have a test that demonstrates what this fixes?

[2019-10-26 11:07] denysvitali commented on #79
Nope, unfortunately. But I'm using my branch as one of my company's middlewares and it seems to work properly 🙄

[2019-10-26 12:53] thomseddon commented on #79
@webunity I'd prefer not to advocate the "worka ound" of prefixing the cookie domain with a "." as it seems this is probably a bug, so the behavior will/may change in the future.

Please could you post your config and explain the issue? Please could you also change the title, we'll use this issue to solve the issue you were hitting

[2019-10-26 23:41] pyle commented on #79
@denysvitali #78 does fix the redirection issue.
But now whitelist params are ignored.
Looking at tests i feel that some of these cases aren't tested correctly (after removing or fuzzing some of the test fields). Added a note to #78

[2019-10-28 07:24] Webunity commented on #79
@thomseddon please tell me how you want me to name the issue; for me it happens with a subdomain setup like this:
TFA host: `auth.at.domain.com` (e.g. note the 2 subdomains)
host i am protecting: `traefik.at.webunity.nl`
cookiedomain: `at.webunity.nl`

If you add logging at more points you see what it does and doesn't do code wise. I moved away from it since i needed a working Traefik 2 solution a

[2019-12-04 21:21] ldez commented on #47
You can add https://github.com/mesosphere/traefik-forward-auth to the list of OICD forks

[2019-12-06 01:50] cruz82 commented on #60
I seem to be experiencing the same issue. My setup is using the Google provider with auth-host and the cookie domain set to the root domain.
[code]
[code]
Let me know if you require more information as I'm at a lost on how to debug this further.

[2019-12-06 07:31] markusschuettler commented on #60
No, sadly didn't have time to look into it any further.

[2019-12-18 13:39] benceszikora commented on #47
@thomseddon Looks like there were a couple attempts at merging something for this already, is there a plan for going forward?

[2019-12-21 11:17] thomseddon commented on #47
I have another branch underway (it's public so you can see where it's up to).
The work is actually refactoring to allow _any_ provider, the OIDC will just be the first implementation, so it's different to the approach taken by those who have forked the main branch, they've just swapped Google for OIDC.

I have seen at least one repo that's forked my branch and finished it off, but it's not exactly

[2019-12-21 11:19] thomseddon commented on #47
Wow, I've just noticed this has been in-flight since July! Time flies, I will definitely try and get something done over Christmas, it's so close to being finished :)

[2019-12-21 18:38] denysvitali commented on #47
Thanks @thomseddon. What do you think of the approach I've used in my PR? Is it possible to merge those changes into master aswell?

[2019-12-23 18:22] gites commented on #79
@Webunity I have exactly the same problem as you and changes added  by @denysvitali
 are fixing it.  Checkout the #81 and https://github.com/thomseddon/traefik-forward-auth/pull/78#issuecomment-568544536 for more details.

[2019-12-24 12:23] thomseddon commented on #47
@denysvitali I like them, and I've used them a little for reference in my work, I've added https://github.com/thomseddon/traefik-forward-auth/pull/78#issuecomment-568738182 to propose a path for that.

FYI - I've been doing some work on this branch again!

[2019-12-25 09:38] foosinn commented on #45
Deleting an outdated cooke solved the "Error validating CSRF cookie: CSRF cookie does not match state" error for me. Replying for documentation, if anyone else falls over this.

[2019-12-26 10:49] rubasace commented on #76
@Webunity agree :)

[2019-12-26 10:49] #76 closed

[2019-12-26 15:25] thomseddon commented on #47
Now tracking in #82 - just needs a bit of tidy + testing

[2019-12-26 15:25] #47 closed

[2020-01-14 23:00] frankforpresident commented on #31
Same issue here, After google login I get "Not authorized".. No clue yet why

[2020-01-16 20:30] thomseddon commented on #79
@Webunity I'm still trying to nail this one, if you're able to record all the requests and responses when it's looping vs. when it's not, that could really help narrow it down so we can see what's occurring :)

[2020-01-16 20:40] thomseddon commented on #79
@Webunity could you also confirm if you're using swarm/k8s and post your config too, thanks!

[2020-01-18 20:41] thomseddon commented on #72
Just to circle back on this, you don't need to add an explicit allow rule for your auth domain. As you have observed, this will actually break your setup (as this will be applied prior to the auth endpoints so will actually prevent authentication from completed).

Please re-open this issue if you're still having issues!

[2020-01-18 20:41] #72 closed

[2020-01-18 20:45] thomseddon commented on #60
Hey, if this is still an issue - please just re-open this issue and post the config and ideally a debug log from launch to failed attempt :)

[2020-01-18 20:45] #60 closed

[2020-01-18 20:54] thomseddon commented on #38
So this is stuck as it's not completely obvious how to actually get these built on docker hub....I've found a few examples using qemu, but I don't have a readily available arm setup to test this on - if someone has experience with this and/or an existing environment they can test it in, I would hugely appreciate a PR to get this working!

[2020-01-18 21:01] thomseddon commented on #31
@frankforpresident (or anyone else in the thread) could you post:

- Confg
- Request log (headers from all requests+responses)
- Debug log from traefik-forward-auth

I'm sure we can get to the bottom of this :)

[2020-01-18 21:45] thomseddon commented on #14
This is now achievable with #82 for other providers and using the rules config, for example we now have rules like:

[code]

[2020-01-18 21:45] #14 closed

[2020-01-18 21:46] thomseddon commented on #5
This is now built in #82 - I will leave this open as although this is achievable via OIDC, I'd like to provide 1st class support for Microsoft Auth

[2020-01-18 22:29] SuperSandro2000 commented on #38
My suggestion would be building it on travis.
It would roughly look like the following. There is an alternative available called buildx but this can't be parallelized in multiple jobs.

* build each image seperately and push it to docker hub with the tags ``arm-latest``, ``arm-$VERSION``.
* creating the manifest
[code]
docker manifest annotate traefik-forward-auth:latest traefik-forward-auth:amd64

[2020-01-18 22:29] thomseddon commented on #57
This has been proposed in #63

[2020-01-18 22:35] thomseddon commented on #33
I will add this into the example shortly, thanks

[2020-01-19 00:20] burntoc commented on #31
I can confirm I'm seeing the same behavior here.  Initiating an incognito browser allows me to access the service properly though.

[2020-01-20 14:39] Webunity commented on #79
Hi @thomseddon i'll check out the fixes and see if that fixes my issue as well.

[2020-01-20 22:56] frankforpresident commented on #31
@thomseddon, I did my best to gather some information for you. My setup was based on: https://www.smarthomebeginner.com/google-oauth-with-traefik-docker/

**Description:**
Open chrome in incognite mode (or normal). Visit the configured url and login with configured email address.

**Expected:** Proper redirection after the authentication. Content is visible.

**Actual:** After login the webpage re

[2020-01-26 11:59] dannyyy opened #83 "/_oauth overlay in Kubernetes"
All the examples here and everywhere else are targeting Docker-Compose and Docker-Swarm.

This leads to several questions:
- Is traefik-forward-auth even compatible with Kubernetes?
- Is traefik-forward-auth compatible wirh Traefik 2.0/2.1?

If the first two questions could be answered with a clear yes, then and only then the following questions make sense:
- I wanted to start in it's simplest ver

[2020-01-27 12:28] thomseddon commented on #83
Hey,

Yes! We've been running this in k8s for the last year or so, I'm planning to add more documentation for this, but for now there's a good example here: https://github.com/thomseddon/traefik-forward-auth/issues/33

As for Traefik 2 - I will add some more documentation once I've tested myself but one example was added here: https://github.com/thomseddon/traefik-forward-auth/issues/74

The way t

[2020-02-07 12:22] frankforpresident commented on #31
@thomseddon, (or anyone else) Any update on this issue? Is there something I could help you with? If more logs are required don't hesitate to contact me.

I would love to implement this in my setup.

[2020-02-07 14:25] thomseddon commented on #31
Sorry I missed your previous comment, thanks for the detailed info. Could you post your entire compose config (including traefik) - the absolute jackpot would be if you can give me a docker-compose.yaml + associated config so I can exactly replicate it?

With regards to capturing the requests, if you export them from the chrome network tab, that would be great (although if I can replicate that won

[2020-02-10 10:14] cstack89 commented on #30
I think this may be a similar request, but sorry if it's not. But how hard would it be to only authenticate certain paths based on different scopes? Or add the users scope(s) to a header or something along those lines?

[2020-02-12 06:22] croneter opened #84 "Fatal HTTP error 502, probably due to dependency on Keycloak service"
traefik-forward-auth seems to abort start-up too quickly if Keycloak is not yet ready. All the log is saying is this:
[code]
I need to manually restart the traefik-forward-auth container for everything to work with `docker-compose restart forward-auth`.

Any ideas?

Docker compose excerpt:
[code]

[2020-02-12 08:37] knyuwork commented on #33
sorry that i am a newbie. How can i access the traefik-dashboard with this example? Do i need to add another service to serve this?

[2020-02-12 14:43] croneter commented on #84
Solved by adding the docker-compose label `restart: unless-stopped` or `restart: always`. So:
[code]

[2020-02-12 14:43] #84 closed

[2020-02-13 09:11] thomseddon commented on #30
@cstack89 I think #57 and #63 should be what you're looking for

[2020-02-13 09:38] thomseddon commented on #33
I don't think so, you can expose the dashboard by creating a service and ingress:

[code]

[2020-02-13 09:40] thomseddon commented on #84
:+1: good fix

[2020-02-14 10:49] cstack89 commented on #57
This is similar to what I'm looking for, but a little different. I'd like to look at the scope of the token and have configurable rules for that. Like securing /admin to only allow users with an admin scope.

Also instead of having rules at this level, could they be passed in from traefik on the URL? Like /auth?scope=admin or /auth?username=joe

[2020-02-17 09:02] julien-vu commented on #38
@thomseddon just tried your dockerfile on ARM (rasp4) and it returned  a non-zero code.

[2020-02-17 14:08] cstack89 commented on #33
I'm working on making an example helm chart to simplify the deployment a little. It's my first one however, and I'm having a little trouble. Can anyone point out what I'm doing wrong. Here are my computed service, deployment and secret:

`---
# Source: traefik-forward-auth/templates/secret.yml
kind: Secret
apiVersion: v1
metadata:
  name: traefik-forward-auth-secrets
  namespace: default
  labels:

[2020-02-17 15:15] Pixtriks commented on #60
I am experiencing this issue as well. I am running in overlay mode and have one whitelisted e-mail address. Identity provider is GitLab. The e-mail field is empty causing a "Not Authorized" error.

This is my docker-compose:
`  traefik-oauth:
    container_name: traefik-oauth
    image: thomseddon/traefik-forward-auth:2.1-arm
    environment:
      - DEFAULT_PROVIDER=oidc
      - PROVIDERS_OIDC_IS

[2020-02-17 15:26] Pixtriks opened #85 "Email field in cookie is empty"
I am experiencing this issue (#60) as well. I am running in overlay mode and have one whitelisted e-mail address. Identity provider is GitLab. The e-mail field is empty causing a "Not Authorized" error.

Log file:
[code]

This is my docker-compose:
[code]

These are my GitLab settings:
![image](https://user-images.githubusercontent.com/6831735/74665826-b3b7b600-51a0-11ea-81a1-eb4ab8f15864.png)

I

[2020-02-17 15:54] cstack89 commented on #33
Sorry I was able to figure out I had bad formatting for DEFAULT_PROVIDER, PROVIDERS_OIDC_ISSUER_URL, and the value for INSECURE_COOKIE.

[2020-02-17 16:17] cstack89 opened #86 "CA Configuration"
I'm trying to use the new OIDC connector to connect with my Keycloak installation. I'm receiving this error from the pod (I'm using Kubernetes) `x509: certificate signed by unknown authority`. I assume it does not like my cert. Is there a way I can pass in a CA for it to use?

[2020-02-20 10:41] cstack89 commented on #86
I'm not familiar with go, so before I try to create a pull request let me run this by you.

It looks like it's pretty easy to append a certificate to the system pool, so we would just need an additional optional arg for a CA pem file. I'm just looking at the first example here https://forfuncsake.github.io/post/2017/08/trust-extra-ca-cert-in-go-app/

I then think in oidc.go, I'd have to tweak how

[2020-02-20 19:35] L1AN0 commented on #85
Encountered the same issue today.

[2020-02-20 19:44] Pixtriks commented on #85
It seems as if GitLab is not following the official OpenID connect implementation by exposing all other claims under the /oauth/userinfo endpoint (including e-mail address). Maybe a change on the side of traefik-forward-auth could account for this?

https://gitlab.com/gitlab-org/gitlab/issues/21560

[2020-02-21 09:29] SuperSandro2000 commented on #85
I think it would be a better idea to allow GitLab trough oAuth2.

[2020-02-25 22:36] tlex commented on #79
I used to have this problem with traefik2 with the following settings:

[code]

Fixed it by adding the following label to the service `forward-auth`:
[code]
Notes
* `default-https` is a middleware configured in the labels of traefik. It can be removed
* The `${DOMAIN}` is in form `example.com` (without a leading `.`)

[2020-02-26 08:19] knyuwork commented on #33
When I login with my organization account, I get this error: `time="2020-02-26T08:18:46Z" level=warning msg="Missing csrf cookie" source_ip=192.168.62.180`

Not sure what is this.

[2020-02-27 16:22] knyuwork commented on #31
I am having the same issue here. I guess my config are more naive.

Error:
`time="2020-02-27T08:25:03Z" level=warning msg="Missing csrf cookie" source_ip=192.168.9.195`

Traefik (installed with helm - stable/traefik):
values.yaml:
[code]

traefik-forward-auth (reference to [Example for k8s](https://github.com/thomseddon/traefik-forward-auth/issues/33)):
[code]

[2020-03-03 02:08] v7lin opened #91 "Add Oauth2 Provider like Gitea"
Add Oauth2 Provider like Gitea

[2020-03-06 13:19] Mad-Kat commented on #83
I'm kinda at the same point atm.
It's just very confusing, that there is no information about how the request on /_oauth get's routed.
In my understanding I have to define a router, which captures /_oauth and has the forward-auth middleware, which sends the request to the forward-auth-container right?

[2020-03-06 14:04] Davide-Gheri commented on #83
I've the same problem using Traefik 1.7 and trying to add auth to a service bound to `example.com/service`.
The forward-auth is triggered correctly but the redirect is done to `example.com/_oauth`, where there is no route associated. I experimented attaching to `/_oauth` an Ingress route to the forward-auth service itself (without auth annotations) and I receive `too many redirects`

[2020-03-12 14:59] EmiPhil opened #92 "Redirects to google login after successful authentication"
Hi, I'm struggling to get this configured properly. Using traefik v2 in k8s. I navigate to app.dev.host.solutions and correctly get redirected to the google login, but then get redirected back to the google login again instead of app.dev.host.solutions.

O-auth config:

[code]

Middleware:

[code]

Route:

[code]

At first I thought this may be similar to the issue described in #79 but I think it

[2020-03-16 15:22] qlaffont commented on #92
Same for me. I have check log and I have this error : "Error validating csrf cookie: Invalid CSRF state value"

[2020-03-19 18:23] kk17 commented on #31
I found out the clear the browser data can solve this problem.

[2020-03-23 17:53] javaadpatel commented on #92
@EmiPhil , I was experiencing the login loop as well, this issue gave me a hint:
https://github.com/thomseddon/traefik-forward-auth/issues/11

in summary, it seemed that the redirect uri (X-Forwarded-Uri) was not being set because traefik wasn't trusting the forwarded headers, so i added this to my traefik config:

[code]

This is the traefik docs on trusting the forward headers:
https://docs.trae

[2020-03-24 15:20] EmiPhil commented on #92
Adding the insecure flags doesn't seem to fix the issue for me. Could you post the rest of your config?

[2020-03-24 17:33] javaadpatel commented on #92
sure no problem, the Traefik setup can be found at this repository:
https://github.com/javaadpatel/Medium_Deploying-Traefik-to-AKS/tree/master

the only difference there being that I added the
[code]

and then this is my Traefik dashboard rule, to get back to the traefik dashboard as I was trying to secure the dashboard:
[code]

and finally this is the traefik-forward-auth deployment:
[code]

apol

[2020-03-25 20:38] EmiPhil commented on #92
Other than the insecure flags, your config looks similar to mine. another big difference is that I am trying to get it to work for many sub-domains which I think may be where the problem is happening.

I wrote a simple node server to attempt multi sub-domain authentication behind a traefik forward-auth middleware and got it to work _without editing any of my traefik configs._ (Host, cookie domain,

[2020-03-26 14:25] samhuss opened #93 "Wrong error message with missing parameters: providers.oidc.issuer-url"
Hi,
While deploying to kubernetes to use an `oidc` provider, an error was thrown with a missing parameter for oidc provider with the following message:
`level=fatal msg="providers.oidc.issuer-url, providers.oidc.client-id, providers.oidc.client-secret must be set" `
I'm passing the required parameters as per the documentation:
PROVIDERS_OIDC_ISSUER_URL, PROVIDERS_OIDC_CLIENT_ID, PROVIDERS_OIDC_CLI

[2020-03-26 14:56] #93 closed

[2020-03-26 15:00] samhuss commented on #93
The issue is invalid as the variables were grouped under a name space so ISSUER_URL already resolved under PROVIDER_OIDC_ISSUER_URL

[2020-03-27 13:49] samhuss commented on #92
Hi,
I'm just posting what worked with me for reference after searching for a fix for 2 days,
I came around your issue while searching for a fix but nothing changed after applying all the comments you mentioned. My setup is Traefik + Keycloak on k3s.

This [blog](https://itnext.io/how-to-implement-a-sso-middleware-for-traefik-v2-on-kubernetes-dcd9d45cc875) saved me after applying everything as is t

[2020-04-04 12:29] ghhv commented on #31
Hey Frank, I also used the SmartHomeBeginner sample. I was also getting 'unauthorized' because the Google email address I was logging in with, was not in the WHITELIST environment variable passed to the forward-auth! Adding this fixed it.. Clear cookies to ensure it's re-authenticating.

This error clue is also apparent from the service log for the container which will say invalid email.
` time="2

[2020-04-07 02:47] SuperSandro2000 commented on #31
To fix

``
/_oauth?state=014308…49a7a48f6c..576a#:1 A cookie associated with a cross-site resource at https://google.com/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are set with `SameSite=None` and `Secure`. You can review cookies in developer tools under Application>Storage>Cookies and see more details at https:/

[2020-04-08 08:13] frankforpresident commented on #31
I will try it again tonight but if i remember correctly it was already set to the correct email address.

[2020-04-08 09:39] SuperSandro2000 commented on #31
Apparently the samesite=none issue I talked above is/was a real issue for me right now and I did my testing slightly wrong. I am going to do a PR in a few minutes if any other person walks into this problem.

[2020-04-08 12:44] SuperSandro2000 opened #97 "Read ip from X-Forwarded-For header"
Right now the source ip in the log shows an internal Docker ip and I want to change it to the real ip of the client.
Traefik set the F-Forwarded-For and X-Real-Ip Header with this information.
Could this be added?

[2020-04-09 11:06] frankforpresident commented on #31
My email address is ok and I don't see this message in the logs.

I have a question, could it be related to my ip range? I've noticed in the logs a 192.168.0.1 ip address  but that would be the range of my modem while my internal ip range of my router is 10.0.0.X

Anyway. on every attempt I see the same result. missing cookie, setting cookie, done

time="2020-04-09T10:53:09Z" level=warning msg="Mi

[2020-04-09 11:20] ghhv commented on #31
Ahh, OK.. that should be an easy fix.. Did you generate and pass a cookie?
e.g.
'  environment:
      - CLIENT_ID=$OAUTH2_PROXY_CLIENT_ID
      - CLIENT_SECRET=$OAUTH2_PROXY_CLIENT_SECRET
      **- SECRET=$OAUTH2_PROXY_COOKIE_SECRET**
'

[2020-04-09 12:59] frankforpresident commented on #31
Yes, generated with: openssl rand -hex 16

You can check my config here, it didn't changed that much.
https://github.com/thomseddon/traefik-forward-auth/issues/31#issuecomment-576454102

[2020-04-09 13:14] ghhv commented on #31
OK, comparing yours to mine, I have 2 differences:

- INSECURE_COOKIE=false

And I do not have the "CSRF_COOKIE_NAME=_forward_auth_csrf"

So that could be why you are getting your error.

[2020-04-13 00:42] gcavalcante8808 opened #99 "Redirected Too Many Times Problem - Traefik file config + docker-compose setup"
Hi Folks,

I'm trying to create a local setup but after I enter my credentials on google and get redirect back, the   the `traefik-forward-auth` app redirect me to **auth0** and that creates a too many redirects loop.

I'm using the following configuration:
[code]

Traefik 2.2 dynamic.yaml configuration:

[code]

In the `traefik-forwarded-auth` logs I can see the following:
[code]
[code]
For me, l

[2020-04-13 07:09] SuperSandro2000 commented on #99
Did you put the auth middleware also on traefik-forward-auth?

[2020-04-13 07:28] gcavalcante8808 commented on #99
Perfect, after adding the auth middleware for `traefik-forward-auth` it worked!

One last question: its possible to configure and get user claims/jwt as a header?

[2020-04-13 16:21] gcavalcante8808 commented on #99
@SuperSandro2000 looking at https://github.com/thomseddon/traefik-forward-auth/blob/master/internal/provider/oidc.go#L103-L107, I think that the project doesnt forward the claims.

Would you accept an pull request for that? I'd like to at least have access to `sub` attribute to map and create OpenPolicy Rules.

[2020-04-13 16:54] thomseddon commented on #99
👍 happy to accept a PR to pass on, ideally this would be something generic to pass through any other user params

[2020-04-13 16:57] thomseddon commented on #97
Hmm, I actually fixed this a while ago as I had the same problem, it's now read from X-Forwarded-For: https://github.com/thomseddon/traefik-forward-auth/blob/master/internal/server.go#L196

Are you running docker swarm or k8s and could you check what container the logged address is assigned too?

[2020-04-13 18:24] UbiquitousBear commented on #92
@samhuss would you mind sharing all of your configs?

[2020-04-13 19:10] gcavalcante8808 commented on #99
@thomseddon Thanks, Ill work on the forward claims PR initially.

[2020-04-13 19:10] #99 closed

[2020-04-14 01:21] SuperSandro2000 commented on #97
I think I know why it did not work before on my machine. I had the userland proxy still enabled and for internal traffic the ip was correct but for outside traffic it got the container ip. I am not sure if this should be mention somewhere in the readme.

[2020-04-14 01:21] #97 closed

[2020-04-14 01:45] fcortes opened #101 "PathPrefix auth rule not working when Host rule for root is allow"
I am trying to authenticate all requests that start with '/config' but allow all other requests in the domain. I'm currently trying to achieve this with the following rules

[code]

The base url works fine, but when I try to go to `/config`, it redirects to `/_oauth` and it stops there. I think that this is because the allow rule is getting handled with higher priority so the request is just forwa

[2020-04-14 02:10] SuperSandro2000 commented on #101
You could put that path on a different subdomain and route that trough traefik with pathprefix.

[2020-04-14 07:58] thomseddon commented on #101
This is a good issue, I think the only solutions at the moment are "workarounds" such as your regex or using a different domain as @SuperSandro2000 mentions.

I would like to fix this, I have written a failing test here: https://github.com/thomseddon/traefik-forward-auth/commit/320e128a6ef8fdebe3aa44bc61cf3c273f19bdda and I will have a think about possible solutions.

[2020-04-14 08:00] thomseddon commented on #92
Keeping 👀 on this thread and will be looking to improve the documentation for k8s (which I use) and Traefik 2 (which I will start testing with to build docs) 👍

[2020-04-14 08:32] thomseddon commented on #91
It's a shame they don't support openid connect ☹️ but yes, I think this would make sense 👍

[2020-04-14 08:35] thomseddon commented on #86
Only just looking at this, but I'm definitely 👍 for this - the feature makes sense and the proposed solution looks ideal

[2020-04-14 08:39] thomseddon commented on #85
Hmm, that's a pain! I agree it would probably be easier to just add a customer gitlab provider as opposed to an extra workaround in the OIDC code.

[2020-04-14 11:53] altano opened #102 "Can we use DOMAIN and WHITELIST together?"
Feature Request: if both DOMAIN and WHITELIST are both specified, make it so that a user can pass EITHER to be authorized. I don't think anything else makes sense  b/c if you have both set, that is the only possible way you would want the DOMAIN list to be used. I think.

Thanks for the great service btw!

[2020-04-14 14:01] SuperSandro2000 commented on #92
@thomseddon feel free to contact me if you have big troubles with traefik 2 like me.

[2020-04-14 20:04] altano opened #103 "Unable to reselect Google account"
If a user picks the wrong Google account or just doesn't have access, they'll get a "Not Authorized" 401. How do they reattempt authorization at that point?
I tried manually deleting the _forward_auth cookie both from example.com and oauth.example.com (I am using an AUTH_HOST as I have lots of subdomains) and that didn't work. Where else does this cookie persist? Can I somehow provide a "try again

[2020-04-14 21:38] Sigi-cz commented on #38
@julien-vu Could You please provide the docker build command You used? I still get the non-zero return code when building and can't figure out how to fix it.

[code]

[2020-04-15 01:37] fcortes commented on #101
Ok, I think I found a way to fix it, but I am not completely sure if it breaks something else (at least all other tests pass).

By adding the auth callback before adding the rules, it seems that the router correctly handles _oauth actions regardless of the additional rules.

The test won't pass though because the scheme is set to http instead of https.

[2020-04-15 02:41] 0x540 commented on #83
@Davide-Gheri , if you add the auth middleware to the traefik-forward-auth service it should be working - see https://github.com/thomseddon/traefik-forward-auth/issues/99.

[2020-04-15 09:16] ecthelion77 opened #104 "How to add resource identifier to the url"
Hello,

is it a way to add a variable to the url that is sent to the oidc provider ?
I successfully use traefik-forward-auth with microsoft ADFS but i'm not able to use authorization from ADFS :

ADFS can be configured with two steps :

- first step : validate authentication with a callback identifier and authorize connection. This step is ok

url : ?client_id=****&redirect_uri=https%3A%2F%2Fservi

[2020-04-15 17:40] thomseddon commented on #104
There isn't currently a way to do this, it seems to be well defined: https://tools.ietf.org/html/draft-ietf-oauth-resource-indicators-08 so it makes sense to support his.

It could be supported with an additional "resource" configuration option under the provider, which could in turn pass this as an `AuthCodeOption`: https://godoc.org/golang.org/x/oauth2#Config.AuthCodeURL

[2020-04-15 17:45] thomseddon commented on #103
Deleting the CSRF cookie should be enough - I have noticed that this is a bit of a bug though (the cookie should deleted if the flow fails).

At the moment, if I do this I just type my original request in again to start the flow again I think if we complete the new redirect validation in #77 (I have picked this up this week) then this should be a safe and expected behaviour?

[2020-04-15 17:48] thomseddon commented on #102
It's a fair point actually, as you say if people do set both then that is probably the only expected result!

Unfortunately that would be a breaking change, so would need a major version bump - but I think it probably makes sense, perhaps we could add a flag to enable that behaviour in v2 but make that the default in v3

[2020-04-15 17:50] thomseddon commented on #101
Yep, that's exactly what I was thinking - the only problem is that the current setup allows you to make a rule to prevent the "/_oauth" path from doing authorisation.

So I think this would need a major version bump, but I think it probably makes more sense

[2020-04-15 18:14] joedefen opened #105 "how to sign out?"
_Thanks; great project and very useful._  I'd very much like to provide a "button" to log the user out of my site as in  [Sign out a User](https://developers.google.com/identity/sign-in/web/sign-in#sign_out_a_user). Please advise how to sign out if there exists a way.  If not perhaps add a URL (e.g., "oauth.domain.com/_signout") if feasible?

[2020-04-15 21:20] altano commented on #103
Can you repro that deleting the cookie does NOT do anything and the cookie just gets set again on the next load of the Not Authorized page? I can repro in both Firefox and Chrome.

[2020-04-16 06:54] altano commented on #103
I was curious what was going on under the covers so I snooped on the traffic with Fiddler. Here's what I'm seeing:

1. Delete cookie (are you calling it a CSRF cookie intentionally btw? That isn't the right term right?)
1. Navigate to mydomain.com
1. traefik-forward-auth 307s me to `https://accounts.google.com/o/oauth2/auth?client_id=...`
1. That URL gives me a 302 Found which sends me to `https:/

[2020-04-16 07:58] altano commented on #103
Okay so one more tidbit: I don't understand what is maintaining my being logged in here, and I can't find any affordance in the OAuth spec for the requesting server (as opposed to the authorizing server) to reject the token based on the credentials, so I don't know how this is _supposed to_ work.

I'm sure you know how the flow progresses and what is going wrong here, but I'll add one more tidbit

[2020-04-16 08:00] altano commented on #102
That sounds reasonable and would be most appreciated!

[2020-04-16 09:00] thomseddon commented on #105
I think this makes sense and would be useful, it just needs another endpoint (`/_oauth/signout`?) that removes the cookie.

The only reason this might not be backwards compatible would be if someone is already using that path, but given it's prefixed with the `/_oauth` path which can be explicitly configured, I think it's reasonable to assume that `/_oauth*` is reserved for this application and th

[2020-04-16 09:09] thomseddon commented on #103
Yep, the default behaviour by Google is to automatically select the last selected auth if the session is still active.

There's an argument that `prompt: select_account` should be the default behaviour. Although it means that your login isn't cached - you only need to login when your `traefik-forward-auth` cookie has expired or been removed. In the first case (cookie expired) unless you have modif

[2020-04-16 11:29] altano commented on #103
I was actually thinking it would happen whether the cookie was removed or not as long as the user wasn’t authorized despite receiving a token successfully from google. You’d have to prevent a redirect loop because on the initial failure you’d want to show Not Authorized but on subsequent navigations you’d want to provide the account selector. I think.

[2020-04-16 11:57] joedefen commented on #105
Thanks! I'll keep alert for an update with the "Sign Out" feature which will be much appreciated.

[2020-04-16 13:37] thomseddon commented on #103
Yep, my first comment regarding deleting the CSRF cookie was wrong - google will maintain the account previously selected until the session expires (so you just have to wait).

I would like to make `prompt: select_account` the default behaviour based on the justification here: https://github.com/thomseddon/traefik-forward-auth/issues/103#issuecomment-614519637

This is a change in behaviour, but I

[2020-04-16 16:43] thomseddon commented on #38
@Sigi-cz it looks like you're pulling v0.1.1, but you will want to pull 2 or 2.1 👍

[2020-04-16 16:48] thomseddon commented on #83
I'm marking this as a documentation issue and will update with a link to the new docs when ready

[2020-04-16 17:39] Sigi-cz commented on #38
@thomseddon I know, but I'm not familiar enoug with docker to figure out how to pull the latest commit.
This is the command I used:
[code]

But I got it working in the end. I downloaded the zip, unpacked and ran this:
[code]
Maybe You could add little 'how to compile for arm' into the Readme?

[2020-04-16 21:23] altano commented on #103
That roughly sounds good but there's one piece I'm missing: when will you trigger the redirect to Google's auth server and when will you let them through to the Not Authorized page?

Will you ALWAYS send unauthorized users back to the Google auth server with `prompt: select_account`, even on the first login attempt that fails? I think that sounds fine to me.

Thanks again btw for both this package

[2020-04-17 07:23] ecthelion77 commented on #104
With your information, I'm trying to modify code to add this feature.

My first correct test :
in providers.go
[code]
Now to be able to continue using your great tool properly I need to replace "testid" by variable that contains source web site.

For example:
my source : https://whoami.domain.tld
oauth proxy : https://openid.domain.tld
idp : https://sso.domain.tld/adfs

so current url is :
https:/

[2020-04-17 08:29] ecthelion77 commented on #104
I have finally solved previous question !

My tests are ok, I added a new param pass-resource-id (bool) and if param set to true, url is posted to the IDP with resource=redirectBase.

I'm not able to push my branch to publish my modifications, can you allow me to push ?

[2020-04-19 19:19] wanno-drijfhout opened #108 "Can't get my head around the exact configuration requirements"
Hi! I've been trying to get traefik-forward-auth working because I've been suffering from either redirect loops or 404s in my various bazooka-configuring attempts.

Today I got it to work, but I don't understand why and I think it's unnecessary convoluted. **My question to you:** would you help me understand/correct/improve my configuration?

I've taken inspiration from #79, #89, #81, #92 but I co

[2020-04-19 22:34] SuperSandro2000 commented on #108
If you take a look at the graphic at the top of https://docs.traefik.io/middlewares/forwardauth/ you will see that traefik does an internal connection to traefik-forward-auth.

This means if you send it to https://auth.domain.com it will open a connection to the external service which means you end up in an authentication loop.

[2020-04-21 07:30] westwin commented on #105
just remove the cookie is not secure enough. As user can save the cookie and perform a successful curl request with the cookie even after you logout the cookie itself.

A more securer logout is to revoke the session on server side, which means a session storage is needed.

[2020-04-21 10:00] ecthelion77 commented on #104
@thomseddon : have you read my previous post ?

[2020-04-21 13:54] GuyKh opened #109 "Any support for RaspberryPi (Arm32v7)"
Getting `standard_init_linux.go:211: exec user process caused "exec format error"` - when running on Raspberry Pi 3b+.

That's probably means that the project is compiled for 64 bit and i'm using 32bit.
Any workaround to make it work?

[2020-04-21 19:39] bekoeppel commented on #31
I got the same errors and was able to reproduce it as follows:
- traefik-forward-auth configured in Host Mode
- Tab A: open an application that makes requests to its backend every second to refreshing its data
- Wait until the authentication session expires
- Tab A keeps making requests, which fail because the session expired. From my understanding, this is issuing new `_forward_auth_csrf` cookies

[2020-04-22 08:53] SuperSandro2000 commented on #109
Build the Docker Image on your RPi 3b+.

[2020-04-22 12:51] veverkap commented on #109
I did that on my Pi cluster and it worked great. I can share the image if anyone needs it.

[2020-04-22 13:23] GuyKh commented on #109
@veverkap I'd love that

[2020-04-22 13:48] veverkap commented on #109
@GuyKh https://hub.docker.com/r/veverkap/traefik-forward-auth

[2020-04-22 15:56] GuyKh commented on #109
@veverkap - Awesome! works like a charm. Thanks

Nevertheless - I'd love to have Arm builds coming in the major docker hub

[2020-04-22 16:30] DirtyCajunRice commented on #108
So to hop in on this for the internal vs external... You cannot host the forward auth somewhere else and reach it externally? Why not? Does this mean you need to host a traefik-forward-auth in every environment and keep the secret the same?

[2020-04-22 16:46] DirtyCajunRice opened #110 "Question(s): Redirect URI & multi-cluster deployment"
Multi Cluster Deployment: If i have 2 k8s clusters, would i have to deploy in both clusters and keep the secret the same? pointing to an external version of the app seems to put me in an auth loop

Redirect URI: Even with auth host set it seems to be redirecting to the original subdomain.domain.tld/_oauth as the callback. With auth host set should it not point to what i have set for AuthHost?

[2020-04-22 19:27] thomseddon commented on #105
@westwin very true - this project provides only stateless authentication, so in this mode it wouldn't be possible to store that invalidation. There are a couple of more advanced features, such as this, that would benefit from storing some state, so it's something I'm looking at. For now, I will document this constraint so it's clear.

@joedefen I have pushed an implementation in #107 - it just nee

[2020-04-22 19:32] wanno-drijfhout commented on #108
I fear I do not completely understand. How does that picture imply that traefik does an _internal connection_ to fraefik-forward-auth and what does that mean?

But if traefik-forward-auth is running on auth.domain.com, why can't it handle the request, then? Is there a difference in HTTP requests as traefik-forward-auth would receive them:
- from the "AuthForward" middleware directly to the fraefik

[2020-04-22 19:44] thomseddon commented on #108
Hi, yes of course we'd be happy to help!

As @SuperSandro2000 says - the architecture of forward authentication in traefik is that for every request that is received, it will forward a copy to your desired destination - in this case traefik-forward-auth .

If traefik-forward-auth finds a valid session in the request, it will return a 200 OK to traefik. When traefik receives this it will proceed wi

[2020-04-22 19:47] PSJMcNeill opened #111 "Using multiple providers in one container"
I have successfully setup oauth using google, I was looking to add support of Microsoft too.

Is this possible using one container?

[2020-04-22 19:48] thomseddon commented on #109
We have #38 still open - there doesn't currently seem to be an easy way to get these onto docker hub without building and pushing them yourself 😢

I'm glad you got this sorted, I will keep #38 open and hopefully docker hub will improve support for this in the future

[2020-04-22 19:48] #109 closed

[2020-04-22 19:54] thomseddon commented on #111
I'm happy to say, yes!

You can configure `rules`, and one of the options is to set the `provider` for a given rule, as documented here: https://github.com/thomseddon/traefik-forward-auth#option-details

So in this case, you could configure the OIDC provider to support microsoft, and configure that provider on certain domains as follows:
[code]

I hope that works out, let me know if you have any p

[2020-04-22 19:54] #111 closed

[2020-04-22 20:01] thomseddon commented on #110
Generally I would recommend deploying an instance of traefik-forward-auth alongside every instance of `traefik` - so if each cluster has it's own traefik, then two instances of tfa would be best (with the same secret if they have common domains).

Auth Host mode has a few requirements to get going, there is some good documentation on that here: https://github.com/thomseddon/traefik-forward-auth#au

[2020-04-22 20:16] veverkap commented on #38
I'm happy to try and set something up to automated this - I've got a bunch of 32bit Raspbians here.

You can also try docker buildx

[2020-04-23 08:08] GuyKh commented on #109
@veverkap
Apparently - there's an existing tag which works:
`thomseddon/traefik-forward-auth:2.1-arm`

[2020-04-23 13:06] veverkap commented on #109
Yep, that seems to work for me too!  Never mind my build :)

[2020-04-23 16:58] npawelek opened #112 "Multi-architecture image for non-homogenous environments"
I just wanted to say thank you for up-keeping this project. Its been amazing so far!

I was wondering if there was a particular reason behind the decision to have independent Dockerfiles specific to each architecture? To provide some context, I run a k8s cluster with non-homogenous workers (amd64 and arm64). As a result, I have resorted to building a container so that the identical image can be us

[2020-04-23 19:20] wanno-drijfhout commented on #108
Thank you so much!

Would it be possible for traefik-forward-auth to always allow requests to itself, then? This could break the infinite loop, if I understand correctly

[2020-04-23 21:05] thomseddon commented on #112
Hi!

At the moment, the builds are done automatically on docker hub - I like this as it then links to the source from the repo and, IMO, gives the user more assurance as to the true origin and nature of the image they're pulling.

I hope that docker hub will support this natively at some point (I assume they will), I will see if it's possible to automate with github actions, if not then this is pr

[2020-04-23 21:14] SuperSandro2000 commented on #112
If you tag releases it is a one time effort to setup github actions and then you don't to worry about it ever again. Also with the new ``buildx`` system you can auto generate all three arches and auto create manifests for them and push them.

Such a command would like this:
[code]

Setup requires those two lines to build all supported arches:

[code]

[2020-04-23 21:15] thomseddon commented on #108
So your current configuration, where the forward authentication requests are sent directly from traefik to traefik-forward-auth on port 4181, is the correct and intended design and you should not see an infinite loop.

I apologise  that there aren't any kubernetes examples in the repo - I have added 3 in my local version and I'm just building out the docs so it's as clear as possible.

I'm going t

[2020-04-23 21:15] #108 closed

[2020-04-24 06:49] pstadler commented on #85
Unfortunately, the same applies to GitHub.

There's an example of how OpenID Connect can still be used with GitHub, by providing the required endpoints manually: https://fusionauth.io/docs/v1/tech/identity-providers/openid-connect/github

[2020-04-24 07:32] thomseddon commented on #112
I had a quick look yesterday and it looks like there are some good github actions we could leverage for this - I'd be happy to accept a PR for it, otherwise it's something I'll probably look at after the 2.2 release

[2020-04-24 10:01] thomseddon opened #113 "Multiple Requests cause CSRF overwrite"
As raised by @bekoeppel in https://github.com/thomseddon/traefik-forward-auth/issues/31#issuecomment-617372756 there is an issue whereby subsequent requests will cause CSRF cookies to be overwritten:

I'm opening this issue to track possible solutions, my initial thoughts are:

- Add random string to each CSRF cookie name, which is also prepended to the state value so the server knows what cookie

[2020-04-24 10:41] thomseddon opened #114 "Improve debug logging"
Every log message should include:

- Forwarded request
- Cookies
- Action details (e.g. cookie details if setting a new cookie)

[2020-04-24 10:43] thomseddon commented on #31
@bekoeppel I have created an issue to track that specific pattern as I think there could be a better way of handling it.

I believe a lot of people here will have run into #103 whereby Google will not offer up the account selection by default on subsequent requests, so if you select the wrong account you have to wait for that selection to expire on Google's side before having another go (which is

[2020-04-24 13:25] #33 closed

[2020-04-24 15:44] hexeth opened #115 "Example request: Multiple top-level domains"
I've been using your app for some time in `auth_host` mode for subdomains without any troubles, but am really struggling to add a second domain to the list. Once I add a second domain to `cookie_domain` everything seems to break down. Would you be able to provide an example of the correct way to set up ouath for more than one tld?

[2020-04-25 17:45] starcraft66 commented on #115
I was about to open an issue, I am experiencing similar troubles. I have been using `AUTH_HOST` for a long time with subdomains but today I added a new top level domain and the oauth consent screen is redirecting to the wrong auth endpoint on my new domain instead of the one at `AUTH_HOST`.

[2020-04-26 08:07] frankforpresident commented on #31
@thomseddon, Will do

[2020-04-27 13:42] thomseddon commented on #114
Also add log message to alert when using secure cookies with non https forwarded request

[2020-04-30 13:36] Rathna-K opened #118 "Question: How do I configure traefik/ traefik-auth to point to an external IP"
Hello, my current setup is all docker containers are in an external network docker-network and SSO works like a charm for it, thank you!
I am now looking to redirect to two sub domain URLs after auth is completed,
1. to a container running in host network mode which is in a different subnet than the docket-network
2. to an ip address in the host network running a web service.
are these two possibl

[2020-04-30 14:00] Rathna-K commented on #118
I didnt use toml file originally and everything is in docker-compose using labels. That was the recommendation in the other forum as well so I tried that and added a provider file just for this it but I must be missing something in that rules.toml file now. I am getting “middleware sts@file” does not exist.

[2020-04-30 14:38] stevegroom opened #119 "Is token access possible for APIs when using Auth Host Mode"
I have Traefik 2/Keycloak/TFA solution running.
The config is using ```auth host``` mode and I get the expected re-direction to keycloak.mydomain/auth to supply credentials and re-direction back via auth.mydomain/_oauth to myapp.mydomin.

What I am trying to do now is to find some way to create a long lived access token to allow me to consume the traefik API with node-red (i.e. parse the JSON retu

[2020-04-30 19:44] thomseddon commented on #119
The technique I use for this is to create static tokens and then apply them in rules, for example:

[code]

Would that work?

[2020-04-30 19:55] thomseddon commented on #118
Once authentication has completed, traefik-forward-auth (tfa) will redirect to whatever URL started the authentication flow.

So if you start with a request to `http://your.domain:port/path`, tfa will generate a redirect to your auth provider, the auth provider will redirect to `http://auth.host/_oauth` once authentication is (if your using auth host, it will just be `http://your.domian:port/_oaut

[2020-04-30 20:00] thomseddon commented on #115
At the moment there isn's support for multiple `auth-host`'s. I will leave this open as a feature request, I think it makes sense and shouldn't be hard to implement.

@starcraft66 because cookies aren't shared across domains, by design traefik-forward-auth will fallback to using the domain of the original request if it can't use an auth-host. I would suggest adding any new domains that don't fall

[2020-04-30 21:44] Rathna-K commented on #118
yes but i think the part where i am stuck is how to redirect to a network outside of docker network such as to a host container running in host mode or an IP in the host LAN network. here is my current compose files for reference:
traefik compose:
[code]
traefik-auth compose:
[code]
home assistant  compose:
[code]

[2020-05-01 06:36] stevegroom commented on #119
Hi Thom,
thanks for getting back to me.

When you say create your own static tokens - are you using keycloak to generate them?

For you proposal, I can see that this can work in principle but I feel that this does not respect the segregation of duties though - as Traefik will be authorizing the request itself.

I found this article <http://www.bubblecode.net/en/2016/01/22/understanding-oauth2/#Aut

[2020-05-01 16:18] #118 closed

[2020-05-01 17:54] Rathna-K opened #120 "Question: _oauth error when forwarding request to IP outside of host"
I closed the other question as I was able to get the authentication to work within host containers in different network modes. Now I have one other service outside of host and completely in a different IP address which doesn't seem to work.
my rules.toml looks like this:
[code]
when I login thru SSO the microsoft OIDC is complaining my redirect url is different from origin
[code]
and the address b

[2020-05-01 18:34] Rathna-K commented on #120
closing this as I just found out I forgot to add the redirect uri on the OIDC side.

[2020-05-01 18:34] #120 closed

[2020-05-02 19:28] vyshkov opened #121 "Retrieve user info in the application behind traefik"
Is it possible to find any user information from my app after user did the login via google ?

I am just thinking about usecases of this middleware: we know that user is logged in, but we don’t know who is this exact user. What it can be used for ?

In order to find user info we need to implement other google api/oauth2 handlers but on the application side, so we redirect user to the login page ag

[2020-05-03 10:46] grimmy commented on #83
This isn't documented well, but I just finished getting traefik-forward-auth working with the coreos/kube-prometheus stack using Traefik v2.1 with CRDs.  You can find the manifests for the ingress and middleware over [here](https://keep.imfreedom.org/imfreedom/k8s-cluster/rev/191040a510e8).

Note the namespace in the hostname for the `forwardAuth` middleware.  Took me a few to realize that Traefik

[2020-05-07 05:56] stevegroom commented on #119
Hello @thomseddon,
I have followed this thread <https://keycloak.discourse.group/t/how-to-use-api-keys-with-keycloak/2390/14> and received a suggested flow for how to obtain and use a token.

To summarise

[code]

This retrieves the access_token which is added to the ```Authorization: Bearer``` header in the following call:

[code]

This call results in a redirection to the Keycloak logon scheme.

[2020-05-07 09:49] simt2 commented on #92
I've been debugging this for weeks on and off and just found the cause. The callback was actually never handled by the callback handler but by the default authentication handler. The following changes work around the rule-based routing logic via imported traefik stuff via simple `http.HandleFunc` and got my perfectly valid deployment working without any changes:
[code]

This is a bug I' not eager

[2020-05-07 12:19] thomseddon commented on #92
@simt2 could you post your rules config?

As mentioned above, there is a known bug identified in #101 whereby certain rules can break the authentication flow.
This is the wrong behaviour, but I think changing this would be backwards incompatible as it is conceivable that some users may have done this deliberately. I will add a note in the README to warn of this when using rules!

[2020-05-07 13:05] simt2 commented on #92
@thomseddon  I did not configure any rules. My traefik configuration:
traefik.yml
[code]

traefik.dynamic.yml
[code]

deployment:
[code]
Dashboard ingress protected by google auth:
[code]

auth.internal.example.com ingress not protected by google auth:
[code]

[2020-05-07 13:06] simt2 commented on #92
Not using conventional mode instead auf auth host worked fine.

[2020-05-07 15:00] thomseddon commented on #92
@simt2 is that now actually using the auth domain? If you could also post your traefik-forward-auth deployment+config that would be helpful.

For everyone else in the thread - I have, at long last, just pushed some examples of deploying with traefik forward auth, it's not particularly complicated but it does require a good understanding of how the authenticated/unauthenticated requests flow intern

[2020-05-08 09:03] simt2 commented on #92
My traefik-forward-auth deployment is as simple as:
[code]

[2020-05-08 09:09] simt2 commented on #92
My understanding is that without any rule configuration, every path/request should be redirected, except `/_oauth` which should be handled by the function returned by `server.AuthCallbackHandler()`. Please correct me if I'm wrong, but this is not the case:

[code]

[code]

[2020-05-08 19:13] thomseddon commented on #92
@simt2 the original request that's being proxied by traefik is read from the `X-Forwarded-Method`, `X-Forwarded-Host` and `X-Forwarded-Uri` headers, so to repeat your example:

[code]

We also have a number of tests in place to ensure valid/invalid requests are permitted/denied as expected.

I'm still not 100% sure but I believe your configuration may not have worked as you have included a trailin

[2020-05-11 13:43] #114 closed

[2020-05-12 06:20] shabbirdbz opened #122 "Option to ignore SSL verification for self sign certificate"
**Feature Request**
We are running our own OpenID Connect Identity (OIDC) provider dex in our Kubernetes infrastructure.
https://github.com/dexidp/dex
We route request via Traefik to dex on HTTPS with self-sign certificates.

We use configure traefik-forward-auth for dex with following options
- providers.oidc.issuer-url,
- providers.oidc.client-id and
- providers.oidc.client-secret

When traefik-

[2020-05-12 08:53] SuperSandro2000 commented on #122
or even better add an option to import the CA Bundle that includes your self signed certificates so that not anything is accepted.

[2020-05-12 12:26] thomseddon commented on #121
Hi, traefik-forward-auth will set the currently authenticated user in the `X-Forwarded-User` header, you can retrieve this in your application by adding the `authResponseHeaders = ["X-Forwarded-User"]` option in your traefik config, for example as shown here in a middlware config: https://github.com/thomseddon/traefik-forward-auth/blob/master/examples/traefik-v2/kubernetes/advanced-single-pod/trae

[2020-05-12 12:26] #121 closed

[2020-05-12 12:30] thomseddon commented on #122
Yeah this makes sense, we also have #86 open with a view to add custom certs, but an option such as this probably makes sense too

[2020-05-12 12:50] #103 closed

[2020-05-12 12:55] thomseddon commented on #83
Sorry for the delay pushing these, there's now a few full examples of how to configure traefik-forward-auth with traefik v2 + kubernetes here: https://github.com/thomseddon/traefik-forward-auth/tree/master/examples/traefik-v2/kubernetes

[2020-05-12 12:55] #83 closed

[2020-05-12 13:02] thomseddon commented on #92
I believe the issue for most people in this thread will have been caused by configuration issues due to there not being and good docs on how to configure tfa+traefik v2+k8s. Hopefully this is now fixed, with a few complete examples here:  https://github.com/thomseddon/traefik-forward-auth/blob/master/examples/traefik-v2/kubernetes

I'm still not 100% sure what was causing your issue @simt2, the ex

[2020-05-12 13:02] #92 closed

[2020-05-13 12:03] sconnery opened #123 "Whitelist"
Hey team,

can ip whitelisting be built in please, this would ideal for api access from external sources, due redirect errors when behind oauth and the insecurity of opening it up.
prefer oauth per container but even just per instance would be great

[2020-05-13 15:15] thomseddon commented on #123
Hey,

You can achieve this with our "rules" config, for example you could disable auth all together with:
[code]

Or use the rule to check a static API key:
[code]

You can also choose to use "individual authentication", where you don't apply the middleware to the entrypoint, but instead apply it to each ingress/container. Using this you can choose to include/omit the middleware as required.

Let

[2020-05-13 15:15] #123 closed

[2020-05-13 15:30] thomseddon commented on #30
Note: if this option is enabled, the access token would need to be encrypted prior to storage in the cookie

[2020-05-13 15:35] thomseddon commented on #104
Sorry I missed your posts! You will need to fork the repo and push to your own branch, could you send this as a PR? More info on how to do that is here: https://help.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2020-05-13 16:48] thomseddon opened #124 "Project Rename + Other Proxies Support (e.g. NGINX)"
I like the way this project provides authentication by integrating and working alongside an existing router/proxy and not acting as a proxy itself.

Currently this project is only really designed to work with traefik, but I know a number of other popular proxies support a similar style for "forward authentication", such as nginx and envoy.

I'd like to expand the scope of this project to support o

[2020-05-13 17:32] SuperSandro2000 commented on #124
If you discuss this topic so openly people will steal the GitHub org name and domains and will try to charge you money to get them back.

[2020-05-14 00:04] sconnery commented on #123
Thank you ill give this a go.

There is no ip whitelist option just to whitelist the envrio to a public ip?

From: Thom Seddon <notifications@github.com>
Sent: Thursday, 14 May 2020 1:15 AM
To: thomseddon/traefik-forward-auth <traefik-forward-auth@noreply.github.com>
Cc: Steven Connery <steven.connery@staticgroup.com.au>; Author <author@noreply.github.com>
Subject: Re: [thomseddon/traefik-forward-

[2020-05-18 05:32] simt2 commented on #92
@thomseddon Thanks for the extensive examples!

I did try without the slash. The requests outgoing from my traefik v2 instance to traefik-forward-auth don't contain a `X-Forwarded-Uri` header at all, leading to the requests URL to be overwritten with an empty string. I'll look into that.

[2020-05-19 07:53] tekand commented on #102
+1 for this change. I would root for the 2.2 + flag version. Would volunteer for beta testing. :)
Thank you for all your efforts.

[2020-05-19 18:21] steven-cherry commented on #79
I'm also experiencing this issue but using generic OIDC with Azure AD. @thomseddon are the fixes you've implemented for Google auth only?

[2020-05-21 08:50] knyuwork commented on #31
Just want to share my Experience on debugging my issue.

My architecture is like this:

Route53 -> CloudFront -> EKS -> traefik -> traefik-forward-auth -> The application

The biggest challenge to me is the Cloudfront since i am not familiar with it. Here are the errors I experienced

First Error - Missing csrf cookie
The reason is that I didn't allow the Cloudfront to `Forward Cookies`

Second Er

[2020-05-22 12:42] Excape opened #125 "X-Forwarded-User not set with Keycloak as provider"
I'm using traefik-forward-auth in Auth host mode behind Traefik v2, and I'd like to get the logged in user inside the X-Forwarded-User header.
This works fine when I use Google as a provider, but since i switched to a Keycloak instance, the X-Forwarded-User header doesn't get set anymore, it appears empty. I don't know if I'm missing a configuration on the side of Keycloak, which has a minimal set

[2020-05-23 15:44] LelandSindt opened #126 "examples/traefik-v2/kubernetes/simple-separate-pod -> HTTP ERROR 500"
I am working to implement/test the traefik-v2 kubernetes simple-separate-pod example and am getting HTTP 500 errors.

My minimally modified implementation of the example...
https://github.com/lelandSindt/whoami

My traefik implementaiton...
https://github.com/LelandSindt/traefik-helm-chart/blob/bender_k3s/traefik/values.yaml

kubectl -namespace whoami logs traefik-forward-auth-7c6cff9757-99mgd
[co

[2020-05-23 15:52] thomseddon commented on #74
I've updated the README (8902cf8) and added a lot of new examples for traefik recently, happy to say this is now resolved!

[2020-05-23 15:52] #74 closed

[2020-05-23 15:57] thomseddon commented on #126
I haven't tested with the traefik helm chart, so it's possible there's something else going on there.

A few things to check:
- Does it work if you remove the traefik-forward-auth middleware from your whoami app?
- Are traefik, traefik-forward-auth and whoami all in the same namespace?

[2020-05-23 16:02] thomseddon commented on #125
The X-Forwarded-User is read from the "email" claim here: https://github.com/thomseddon/traefik-forward-auth/blob/master/internal/provider/oidc.go#L96

It's not immediately obvious to me, looking at the keycloak docs, if this is enabled by default or if it will require some work on your side - it looks like a number of people seem to be using keycloak, so it would be good to add this to the docs i

[2020-05-23 16:08] LelandSindt commented on #126
Indeed it does.

they are not, which lead me to a "eureka" moment...
https://github.com/LelandSindt/whoami/commit/043bfc313c44f5b4809aa45a0abc967dd34cb19a

I am now getting `Error 400: redirect_uri_mismatch` from google -- but I should be able to troubleshoot that...

Thank you!

[2020-05-23 16:08] #126 closed

[2020-05-23 16:13] thomseddon commented on #119
Unfortunately, the only way rules can work is if the token is static (i.e. doesn't change once generated and doesn't need to be dynamically cycled), if this fits your situation you can generate the token, then do:

[code]

However, if you would like the token to be generated and used dynamically, then I think this goes beyond the scope of how this app works.

A better approach may be to build a di

[2020-05-23 16:13] LelandSindt commented on #126
side note, I was going to issue a PR to align the secrets names...

https://github.com/thomseddon/traefik-forward-auth/blob/8902cf8735f7388e089be263504da92b9a3a1517/examples/traefik-v2/kubernetes/simple-separate-pod/k8s-traefik-forward-auth.yml#L97

https://github.com/thomseddon/traefik-forward-auth/blob/8902cf8735f7388e089be263504da92b9a3a1517/examples/traefik-v2/kubernetes/simple-separate-pod/k8

[2020-05-23 16:18] thomseddon commented on #126
Glad that's sorted!

Good spot on the secret name, I think `traefik-forward-auth-secrets` is probably the better choice for the examples, people can change it if they wish, but it's probably a little more obvious when getting started.

[2020-05-24 19:07] mivandev opened #128 "Code exchange failed with provider"
I am trying to set this up with my docker containers. I followed this guide [https://www.smarthomebeginner.com/google-oauth-with-traefik-docker/#Step_2_Configure_Google_OAuth2_Service](url) to setup my OAuth app and my docker-compose files (listed below). Unfortunately, I am not able to authenticate. The login screen does appear when I visit ```traefik.example.com```, however, after entering my wh

[2020-05-24 22:42] aymanbagabas commented on #109
I've noticed that all the ARM builds have a `linux/amd64` OS/ARCH, is that intentional?
https://hub.docker.com/r/thomseddon/traefik-forward-auth/tags?page=1&name=arm

[2020-05-24 23:55] SuperSandro2000 commented on #109
Yeah, cause it is not changed with a command before pushing.

[2020-05-25 18:26] Excape commented on #125
I see, important detail that the user is read from the email address (I'm guessing it stems from the Google integration).

If I set an email address on the user in Keycloak, the X-Forwarded-User header is correctly set to that email, as you'd expect.

[2020-05-25 18:38] Excape commented on #125
BTW: In the Keycloak admin console, you can change this setting under Client Scopes -> email under "Mappings". If you map the email property to "username" instead of "email", that will get used for the claim

[2020-05-26 09:53] thomseddon commented on #128
Hey,

Your error `read udp 127.0.0.1:46090->127.0.0.11:53: i/o timeout` suggests you have a DNS resolution error, can you spin up another container (e.g. https://hub.docker.com/r/thomseddon/utils) do check if you can resolve www.googleapis.com from inside your cluster?

DNS resolution seems OK for me:
[code]

I'm going to close this one out for now, but please add more comments or re-open if your

[2020-05-26 09:53] #128 closed

[2020-05-26 10:04] coderanger opened #129 "Auth host mode and Traefik 2 without global intercept"
I'm trying to test out the specific mix of:

1. Auth host mode
2. With Traefik 2.0
3. With the forwardauth middleware configured on a per-ingress level

The symptom is a redirect loop, when the IdP returns to `/_oauth`, that is seen as an unauthenticated request and so the response is to bounce back to the IdP. From looking through the code, it seems like AuthCallbackHandler is installed on the fo

[2020-05-26 10:08] coderanger commented on #129
I tested things out with this:

[code]

and it seems much happier (though this can be rewritten to be faster, just wanted to check functionality).

[2020-05-26 10:21] coderanger commented on #129
I think this is the same issue as #81 and functionally the same solution.

[2020-05-26 13:58] thomseddon commented on #129
So the solution to this is to ensure you're applying authentication to your tfa ingress, for example:

https://github.com/thomseddon/traefik-forward-auth/blob/c63fd738d698be0ac5ceebb803a67a6930d7bc48/examples/traefik-v2/kubernetes/advanced-separate-pod/traefik-forward-auth/ingress.yaml#L10-L20

(As a side note, this is documented in the README, but was missing from some of the examples, which was

[2020-05-26 18:50] tekand commented on #113
I experience the same issue, with the exception that it also happens when the application you load on Tab A and Tab B is the same. I think the biggest problem with the behavior is that you cannot 'fix' it by refreshing the browser tab, it needs to be closed completely. Once you have several applications running under the same auth host, it is a daunting task. Of course it is possible to increase t

[2020-05-27 18:23] stevegroom commented on #119
Thanks' for the feedback Thom. I'll work on getting nodeRed built in authentication working instead.

best regards
Steve

[2020-05-27 19:34] thomseddon commented on #119
No problem, this is an interesting angle - in the future I hope to add different types of providers and perhaps an "api-key" provider would make sense.

[2020-05-27 19:34] #119 closed

[2020-05-27 19:39] thomseddon commented on #113
Good point, I've thought about this a little and my current thinking is to append a short random string to the CSRF cookie name, for example `_forward_auth_csrf_9867118a`.

I'll need to do a little more reading to ensure this is viable.

[2020-05-27 19:40] tekand commented on #113
Sounds good to me. Let me know if you need any beta testing. :)

[2020-05-27 19:41] thomseddon commented on #125
Great, I'm glad there's a good workaround for keycloak - I'll dig this back up when I'm adding specific keycloak docs in the future!

[2020-05-27 19:41] #125 closed

[2020-05-27 19:41] thomseddon commented on #124
I have a name! I'll probably hold onto it for a 3.0 release :)

[2020-05-27 19:42] #124 closed

[2020-05-27 19:44] tekand commented on #113
Or a different idea is to send 401 to non-authorized non-html requests instead of redirecting to the login page. Like `mesosphere` did in their fork.

https://github.com/mesosphere/traefik-forward-auth/blob/870f90429ea24e4afe2f94697a62c56d9858d114/internal/server.go#L351

[2020-06-03 13:01] thomseddon commented on #105
Merged in #107 pending release in 2.2

[2020-06-03 13:01] #105 closed

[2020-06-03 13:12] thomseddon commented on #102
Merged in #106 pending release in 2.2

[2020-06-03 13:12] #102 closed

[2020-06-05 14:01] Kiina commented on #91
Wouldn't it be possible to just add generic oauth2 instead of specific providers? Sure you would have to set a few more variables to setup for the endpoints, but it would make it work with any oauth2 provider which follows the specification. Only taking a quick look at the Google Provider I can't see much reason why the user couldn't just set `LoginURL, TokenURL, UserURL` to use any generic oauth2

[2020-06-05 15:45] thomseddon commented on #91
That may certainly work actually! Most providers now support openid (including Google) so that should work for most.
The main argument for individual providers is simplicity and to capture any implementation specifics (such as the select account prompt for Google).

But a generic provider sounds like it could work here, I may go for this instead!

[2020-06-11 11:20] thomseddon commented on #30
I haven't found a elegant way to ensure backwards compatibility on this yet, so I'm going to push into 2.3

[2020-06-11 11:25] thomseddon commented on #104
Merged pending release in 2.2

[2020-06-11 11:25] #104 closed

[2020-06-14 22:24] goost opened #134 "Port mismatch on internal keycloak server as OICD provider"
Hi,

thanks for the project! I have a configuration error and cannot seem to wrap my head around it. The setup is as follows:

Traefik2 is used as a proxy for all services, including a self-hosted Keycloak instance.
Traefik2 is only reachable when connected via a VPN (which propagates a custom DNS server), not externally.

This means that all services which need to communicate with one another do

[2020-06-15 07:10] goost commented on #134
Adding some redirections rules for results in a correct login page, however, traefik-forward auth is unhappy and logs `Error getting user: oidc: id token issued by a different provider, expected \"http://keycloak.example.com:8080/auth/realms/master\" got \"https://keycloak.example.com/auth/realms/master\"`

Here are the added labels in the Keycloak compose

[code]

[2020-06-15 10:47] SuperSandro2000 commented on #134
Connect to keycloak trough the external URL.

[2020-06-15 21:35] goost commented on #134
Thanks for your reply!
Unfortunately, it is not helpful.

Sorry for not being more concrete on this, my traefik2 of course only redirects from HTTP to HTTPS automatically because it is set up like this.

As I said, the HTTPS endpoint is not reachable internally, only via traefik2, which internally the containers are not using as they are not connected to the VPN.
Internally, the communication is v

[2020-06-16 05:44] SuperSandro2000 commented on #134
You need to connect over the https endpoint. It is not ideal that you need to connect like this but you need to do it.

[2020-06-23 21:35] thomseddon commented on #91
Looking at the gitea API, it requires the token to be prefixed with `token` "for legacy reasons".
So that that will need to be configurable.

[2020-06-26 16:13] AndreKR commented on #85
Is this issue accepting PRs?

This is a relatively simple bug. GitLab provides a UserInfo endpoint ([example](https://gitlab.com/.well-known/openid-configuration) from gitlab.com). According to the [OIDC specs](https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims), when requesting claims using scopes,

Traefik Forward Auth does not currently query the UserInfo endpoint but expects the

[2020-06-26 21:19] adawalli opened #136 "Verification fails (according to forward-auth logs) but forwarded to endpoint anyway with full _oauth code in URL"
Sorry for the long subject, but my error doesn't look like any other errors I have seen so far.

*  I am using Nomad for scheduling, but all of the "magic" comes through consul tags and therefore should look very familiar
* The user correctly gets redirected to azure for authentication  https://login.microsoftonline.com/<tenant_id>/v2.0
* The user gets redirected back to the endpoint URL (`https:/

[2020-06-26 22:46] adawalli commented on #136
FWIW, I tried exposing forward-auth as a service through Host rule, but I get exactly the same results

[code]

[2020-06-27 15:08] AndreKR opened #137 "How to authenticate endpoints with a path?"
Take the [simple-separate-pod example](https://github.com/thomseddon/traefik-forward-auth/blob/529e28d83bca652720db72906b24e6e41a3dbf82/examples/traefik-v1.7/kubernetes/simple-separate-pod/k8s-app.yml) and modify it to have a `path`:

[code]

Then navigate to `https://whoami.example.com/foo/` (replace the host with your actual host). The authentication flow is started and then the user is redirect

[2020-06-27 16:23] AndreKR commented on #85
GitLab [will soon add](https://gitlab.com/gitlab-org/gitlab/-/issues/21560) the `email` claim to the ID token, which will make this obsolete *for GitLab*.

[2020-06-27 19:27] thomseddon commented on #137
Hi - thanks for the detailed and well written question :)

You're right - they're two good ways to solve the issue, I'm keen to get #49 merged which would offer quite a nice solution to this.

Another option would be to manually add the path, using the traefik 1.7 as per your example:
[code]

?

[2020-06-27 19:35] AndreKR commented on #137
Interesting idea. I actually have no idea what would happen, but I guess Traefik would just send the request to *any* of the Ingresses that have this path set? And it doesn't matter which one, because they all end up at the same service? I'll try that out right away.

[2020-06-27 19:41] thomseddon commented on #134
This certainly seems to be an issue of finding the best way to wrangle keycloak, I've never used keycloak much myself but it certainly seems to be popular with other users so I hope we can leave this with a good resolution for future ref.

It seems keycloak requires the protocol and hostname used when obtaining the endpoints via OIDC to match the protocol and hostname used to authenticate the user

[2020-06-27 19:55] thomseddon commented on #136
Hmm, the service instructs the authorisation server to return the client to `/_oauth` (i.e. that's the redirect_uri), which would explain why you end up there.

The "failed to verify signature: failed to verify id token signature" is actually being kicked out by go-oidc from here: https://github.com/thomseddon/traefik-forward-auth/blob/8b3a950162a745ba9dcda62fa1a8dceb3c7464cf/internal/provider/oid

[2020-06-28 14:46] thomseddon commented on #110
Closing, but feel free to add any follow up questions if required :)

[2020-06-28 14:46] #110 closed

[2020-06-28 15:03] thomseddon commented on #91
This should now work in #138 with the following options:
[code]

I'll try to setup gitea to give this a test

[2020-06-28 19:42] natelandau opened #139 "Question regarding Github and OIDC"
I am relatively new to creating and managing authentication services and while this service appears to provide exactly the functionality I need, I am finding the examples to be a little lacking since they are almost entirely focused on using Google as a provider.

So, questions:

Question 1: I am planning on using Github as my authorization provider.  I have created the Github application and the

[2020-06-28 20:31] thomseddon commented on #139
Hi!

Unfortunately github don't currently support OpenID Connect, however I have (today!) added a patch which adds support for any provider that doesn't support OpenID Connect (#138). This needs a little more work, but is the last item pegged for v2.2 which I hope to release in the next couple of weeks.

I'll do some testing with github this week and add the setup docs to the new Provider Setup wi

[2020-06-28 21:27] natelandau commented on #139
wow.  thank you for the very swift response.  I think I was thrown by the following line in the readme which references GitHub.

`Supports multiple providers including Google and OpenID Connect (supported by Azure, Github, Salesforce etc.)`

I look forward to the release of #138 and definitely let me know if there's anything I can do to help....

[2020-06-29 07:01] nhendin opened #140 "Question: How to apply different whitelists for each container?"
Hi.  Awesome SW package, I love it and it's working great for me. I have multiple Docker containers and non-container services set up all behind an auth-host based traefik-forward-auth container (using Google as auth provider).

My gmail address  (for example) me@gmail.com is in the "whitelist".  Is it possible to have rules based on the username?  So I could add say roommate@gmail.com to the whit

[2020-06-29 20:15] c64bob opened #143 "WebAuthn"
Would you consider adding support for [WebAuthn](https://en.wikipedia.org/wiki/WebAuthn)?

[2020-06-29 20:15] thomseddon commented on #91
Very happy to say that support for Gitea has been released in v2.2, there's some guidance on the setup [here](https://github.com/thomseddon/traefik-forward-auth/wiki/Provider-Setup#gitea)

That you @Kiina for the idea of a "generic" provider, that's exactly what I've done and I think it's worked really well :)

[2020-06-29 20:15] #91 closed

[2020-06-29 20:18] thomseddon commented on #140
Hey - yes, at the moment this isn't supported but there's a couple of PRs already open to add support for this, so it's definitely pegged for v2.3

The best workaround at the moment would be to run 2 tfa containers and create 2 middlewares - fortunately tfa is pretty lightweight, so this shouldn't be too taxing :)

I'll close this one out for now, but please feel free to re-open or add any further

[2020-06-29 20:18] #140 closed

[2020-06-29 20:24] thomseddon commented on #139
Yes, I erroneously thought Github supported OpenID Connect 🙈

I've just cut the v2.2 release, which incldues the generic provider support - I've tested it with Github this afternoon and it works well (apart from the slight quirk that github won't return the users email unless it is "public"). I've documented the setup here: https://github.com/thomseddon/traefik-forward-auth/wiki/Provider-Setup#git

[2020-06-29 20:24] #139 closed

[2020-06-29 20:25] thomseddon commented on #136
I've added some extra details on how to setup and use Microsoft as a provider: https://github.com/thomseddon/traefik-forward-auth/wiki/Provider-Setup#microsoft

[2020-06-29 20:26] thomseddon commented on #137
I'll have a test with this to see if it's possible

[2020-06-30 02:13] v7lin commented on #91
@thomseddon i don't known how to setup gitea redirect url？

[2020-06-30 10:39] SuperSandro2000 commented on #143
I don't think this is in the scope of this project. Use an identity provider which supports WebAuthn together with tfa.

[2020-06-30 18:07] natelandau opened #144 ""unknown provider" error when using generic_oauth"
Super excited to use the OATH support released yesterday.  I can't seem to get it working though.  Starting up from my docker-compose file exits with the error `level=fatal msg="Unknown provider: "`

I am relatively certain something isn't set right in my compose file but I can't find it.  Here's the relevant yml

[code]

[2020-06-30 18:20] Bobba-star opened #145 "Windows version? Please?"
Not an issue, more of a request... Any chance of creating a build for Windows Container.

[2020-06-30 18:36] natelandau commented on #144
solved the question by removing the quotes around environment variables.

[2020-06-30 18:36] #144 closed

[2020-06-30 18:42] adawalli commented on #136
@thomseddon - this was through a registered app on Azure. I will take a look at your instructions to see if a step was missed somehow

[2020-06-30 18:55] SuperSandro2000 commented on #145
You can built it yourself.

Don't think this will happen. Windows Container are big, bulky and you can just use a vm instead.

[2020-06-30 19:22] adawalli commented on #136
I followed your steps to a T and I still have the same result. A few questions

* If the redirect is being followed correctly, to _oauth, and my token fails...shouldn't I at least get kicked out? Instead, I get to see the protected resource (albeit with the _oauth string in the URL)
* Is there some scope or permission I should be requesting, but might not be currently? Currently, my azure app has:

[2020-06-30 19:51] thomseddon commented on #143
Thank you for the suggestion, this is slightly out of scope of this project at the moment as we currently leave the user registration/authentication to other services and just focus on making it easy to integrate your provider at the proxy level.

I believe quite a few people use keycloak for user reg/auth, it supports OpenID Connect so can be used with this service too :)

[2020-06-30 19:51] #143 closed

[2020-06-30 19:52] thomseddon commented on #145
We have a couple or PRs open to make a single image that support amd64 + arm/arm64 - so I'd be happy to add windows into this effort too.

That said, I've never used the windows base images - if you could provide a working example, that would be a huge help

[2020-06-30 19:56] thomseddon commented on #136
Yes, I actually discovered a bug yesterday which I fixed in #142 (and added some extra tests to ensure it's not reintroduced). This was released in v2.2 yesterday - could you try with that?

I think you will still see an error, I will try and test with the Microsoft provider this week to make sure the docs are correct.

Thanks for the feedback

[2020-06-30 19:58] thomseddon commented on #134
v2.2 was released yesterday, so you could try using the "generic-oauth" provider, statically configured with the external hostname + https?

[2020-06-30 20:03] thomseddon commented on #85
This should now be doable using the generic oauth provider, I'll test with gitlab this week, add some docs and update this issue

[2020-06-30 20:13] thomseddon commented on #79
I believe the root cause of this issue will be due to the "bug" described in #129

As per my [comment](https://github.com/thomseddon/traefik-forward-auth/issues/129#issuecomment-634042719) in that issue, this is actually due to a configuration issue (the request is hitting the tfa container directly, whereas the design is that it should always be proxied via traefik). But I agree that the configur

[2020-06-30 20:13] #79 closed

[2020-06-30 20:27] thomseddon commented on #31
Hello everyone - the good news is that v2.2 was released yesterday, this includes a significant improvement in logging as well as a warning about some invalid configuration states.

This also includes a tweak to the Google provider to ensure the user is always prompted to select which account they would like to use, this fixes the issue where a user selects the wrong account and is then unable to

[2020-06-30 20:27] #31 closed

[2020-06-30 20:42] #50 closed

[2020-06-30 22:18] adawalli commented on #136
The new image definitely seems to be an improvement, although not quite what I expect.

The flow happens like this

* Forwarded to login.microsoft as expected
* Redirected back to http://myapp/_oauth
* I now see "service unavailable" which is good - but I still see the whole _oauth string in the URL, which is weird
* Interestingly, if I hit "Refresh", I see "Not Authorized" (but _oauth still in th

[2020-07-01 00:21] adawalli commented on #136
also @thomseddon , I am on keybase if you want to setup a chat. I would love to help you debug this and root-cause the issue!

[2020-07-01 05:10] ptr727 opened #146 "Google auth loop"
Hi, I've seen several issues related to auth loops, but rather than jumping in there, I'll post my setup, and if a dupe, please point me in the right direction.

I'm using Ansible to configure docker, but the schema should be easy enough to follow.

Using CloudFlare for DNS, and have a wildcard CNAME pointing to my router with a 443 port forward to the docker server.
`*.insanegenius.net` == `home.

[2020-07-01 17:50] nhendin commented on #140
Thanks!  Just to make sure I understand what is needed, I would:

- add second project on the Google Developer console for a new authhost name (e.g. `auth2.domain.com`)
- make a second traefik-forward-auth container and give it a different container name (e.g. `auth2`) set it up with
    - host rules matching the `auth2` name.
    - the client secret / secret for the new `auth2` host
    - I shoul

[2020-07-01 17:53] Bobba-star commented on #145
agreed big and bulky, but its the same bulk once you have the base image.
I'll have a go at building it myself, and will pass on a working example... if I am able to, I've never dealt with golang before.

lets see how i get on.

[2020-07-01 20:10] thomseddon commented on #146
Hello, as you're using "selective authentication"  as opposed to "global authentication", please could you try adding the `traefik-forward-auth` middleware to your `traefik-forward-auth` container (i.e. add the  `traefik.http.routers.whoami.middlewares: "traefik-forward-auth"` label to your)?

Although this is documented, this does catch quite a few people out - we have a fix proposed in #129 whic

[2020-07-01 20:33] thomseddon commented on #136
I just tested the microsoft login and it worked nicely once I got my tenant/client IDs the right way around (I've updated the provider setup docs).

I just created a brand new app and didn't have to grant it any specific permissions (it only seems to have the User.Read permission, also showing as Delegated).

Is it still failing with the same log message?

[2020-07-01 21:05] ptr727 commented on #146
Hi, thanks for the reply.

Just so I understand correctly.
As `traefik.http.routers.whoami.middlewares: "traefik-forward-auth"` is already labelled in the `whoami` container, should I should also add the label `traefik.http.routers.whoami.middlewares: "traefik-forward-auth"` to `traefik-forward-auth` container?

[2020-07-01 21:48] thomseddon commented on #146
Yep!

On Wed, 1 Jul 2020, 22:05 Pieter Viljoen, <notifications@github.com> wrote:

[2020-07-01 22:19] adawalli commented on #136
Double checked my setup, and it's exactly as you said - I will try to use your docker-compose example just to rule out any weird nomad issues.

[2020-07-01 22:55] adawalli commented on #136
I tried your exact OIDC Example for docker swarm, and see exactly the same issue. Here are a few screenshots of my Azure setup

<img width="1130" alt="api_perms" src="https://user-images.githubusercontent.com/14079121/86298567-0d5ad300-bbcc-11ea-8e79-9e44aca9f12a.png">

<img width="1063" alt="certs_secrets" src="https://user-images.githubusercontent.com/14079121/86298579-121f8700-bbcc-11ea-98a0-a5

[2020-07-01 23:28] adawalli commented on #136
ok, got it to work finally. I went into the API menu and deleted all of the scopes from there and now it's all working!

[2020-07-02 00:04] ptr727 commented on #146
I really did my best following the instructions, but this label is not included in the swarm example.
Maybe the confusion in examples is that I want to use a single redirect URL but selectively include auth?

[2020-07-03 11:19] goost commented on #134
Hey @thomseddon

many thanks for your replies and apologies for not coming back to this sooner.
I updated my image and configured the generic provider, bypassing the OICD-getting problem, config:environment now looks like:

[code]

This...actually seems to work!
I did not test it much, however, my whoami gets correctly gatekeeped.
As of now, I did not tried with e.g. my Nextcloud instance (the one

[2020-07-03 11:50] SuperSandro2000 commented on #134
Just serve the stuff over https and not some internal port. Keycloak assumes that it is public facing because otherwise the URLs it provides are false.

[2020-07-04 00:42] adawalli commented on #136
Closing this issue - I think that the enterprise app had too many permissions - when I leave it set to the stock permissions, OIDC Login + ForwardAuth is working as documented

[2020-07-04 00:42] #136 closed

[2020-07-06 21:41] datenzar commented on #146
Worked for me as well, thanks a lot @thomseddon

[2020-07-07 20:48] codestation opened #147 "Not authorized error when selecting wrong account."
I am still seeing the #103 problem even after upgrading to 2.2.0 (thomseddon/traefik-forward-auth:v2.2.0). If i choose the email in the whitelist then it works properly and i am redirected to my original page, but if i choose the wrong email by mistake then i end with the "Not authorized" message and no way out until i delete the cookies.

My configuration is the following (using Auth Host Mode an

[2020-07-12 14:24] vojbarzz opened #149 "AUTH_HOST with selective auth ends in auth loop"
Hello,

I took Your example file https://github.com/thomseddon/traefik-forward-auth/blob/master/examples/traefik-v2/swarm/docker-compose-auth-host.yml and tried to use it in selective mode. Unfortunately it ends in auth loop. Could You advise how to make it working? I have commented `--entrypoints.http.http.middlewares=traefik-forward-auth` and added `traefik.http.routers.whoami.middlewares=traefi

[2020-07-13 12:43] vojbarzz commented on #149
Hello,

I have found what I have overlooked. It is not obvious, at least it was not for me. The trick it to use forward-auth middleware also for forward-auth container. Here is a complete working example:

[code]

[2020-07-13 12:43] #149 closed

[2020-07-15 20:34] dantebarba commented on #147
+1. Should be an escape out from "Not Authorized".

[2020-07-15 20:40] dantebarba opened #150 "Whitelist multiple hosts using docker-compose"
Hi!.

This is mostly a question as I'm getting used to knowing the application. The README specifies that it is possible to add multiple whitelisted users. Unfortunately it doesn't clarify what happens if I want to add a list of whitelists from an env var. Is it allowed?. Should I use comma separated values?

This is my docker-compose:

[code]

_My whitelist:_

[code]
**Expected behaviour:**

Allo

[2020-07-17 15:51] benjyiw commented on #136
I was having the same issue that was described here. Wanted to include some stuff that I found in order to resolve it in my  scenario.

When you create an Azure App Registration in the Web Portal, Azure automatically adds `required_resource_access` for `User.Read`. This is the only permission required to get it to work. In my case, I was using Terraform to create the Azure App Registration, which

[2020-07-18 12:01] tdorsey commented on #150
Have a look at https://github.com/thomseddon/traefik-forward-auth/wiki/v2-Upgrade-Guide#option-changes. I've not set it using an environment variable, but as a command line parameter --whitelist=adam --whitelist=john should work.

[2020-07-18 12:38] wzur-r3 opened #151 "Documentation for Microsoft Provider lists wrong option names"
https://github.com/thomseddon/traefik-forward-auth/wiki/Provider-Setup page has wrong config options for the Microsoft Provider.

Despite saying `oidc` prover (hm? `provider` perhaps) it lists:
* providers.oidc.issuer-url - this I guess is legit
* providers.generic-oauth.client-id - not likely
* providers.generic-oauth.client-secret - ditto

I'd love to create a PR, however I don't seem to be able

[2020-07-18 17:31] maximunited commented on #24
I don't think this is working in v2. at least not for me:
I've tried:
[code]

[2020-07-18 17:56] maximunited commented on #24
answering to myself. The answer was in issue #147
configuring docker-compose:
[code]

[2020-07-19 04:16] dantebarba commented on #150
Well actually looking at the code it seems you can use comma separated strings:

https://github.com/thomseddon/traefik-forward-auth/blob/174353743876301fa42a27d9e42ec528bcf06ebb/internal/config.go#L41

And here they test the two strings parsed with comma.

https://github.com/thomseddon/traefik-forward-auth/blob/174353743876301fa42a27d9e42ec528bcf06ebb/internal/config_test.go#L121

So yeah, followi

[2020-07-19 17:39] zenjabba opened #152 "502 Bad Gateway when coming back"
Auth is being performed correctly and validated but upon return from Google Auth I get this

![Screen Shot 2020-07-19 at 1 36 09 PM](https://user-images.githubusercontent.com/679864/87881078-de62a080-c9c4-11ea-9f41-be62b8250777.png)

My labels are as follows :-

[code]

[2020-07-22 09:49] Bobba-star commented on #145
I created a Dockerfile which can be used on windows containers. I have been using this dockerfile (sucessfully) for the past 2 weeks.

[code]

[2020-07-25 18:42] jedarden opened #153 "Are whitelist emails meant to be case-sensitive?"
Potential issue in that the admin would need to know the case-sensitive email address for any whitelist entries.

Quick check to reproduce:

docker-compose.yml

WHITELIST: NAME@DOMAIN.COM

results in : time="2020-07-25T18:41:34Z" level=warning msg="Invalid email" email=[name@domain.com] handler=Auth host=<redacted> method=GET proto=https rule=default source_ip=<redacted> uri=/favicon.ico

Was that

[2020-07-25 23:54] dalanmiller opened #154 "Renewing access tokens fails when running IPFS"
When recreating the docker image I'm able to authenticate just fine. However, I'm assuming after the token expires, I'm being redirected back to my OAuth provider (Google) clicking on my account and then getting the `Not authorized` response.

From `traefik` I'm seeing:

[code]

--- (Some more investigation)

What's weird is that I'm running an IPFS on my docker-compose host. As soon as I shut thi

[2020-07-26 20:15] xNok opened #155 "docker secret compatibility"
Hi, I am under the impression that this image is not compatible with docker secret.

If i take the starting example, i would expect to be able to manage sensitive credential as follow

[code]

I would be willing to implement it, but I just can't wrap my head around that to find a generic solution given that you use https://github.com/jessevdk/go-flags to parse the arguments.

Maybe go-flags should

[2020-07-27 20:36] thomseddon commented on #147
I'll double check this again

[2020-07-27 20:39] thomseddon commented on #150
There is a test for using the comma separated values via an env var that's currently passing: https://github.com/thomseddon/traefik-forward-auth/blob/master/internal/config_test.go#L218

Could you post the full debug log from startup (it will print out the config it's running with)

[2020-07-27 20:40] thomseddon commented on #151
Whoops, that's a sloppy copy paste on my part, I've fixed that up now - thanks for pointing it out!

[2020-07-27 20:40] #151 closed

[2020-07-27 20:42] thomseddon commented on #152
Hey - could you post your full config and also the debug log from traefik and traefik-forward-auth? This looks like a config issue in traefik

[2020-07-27 20:44] thomseddon commented on #153
Yes, arguably the email check should be case insensitive.

I'll have to do some extra reading to check on the best practices around that to make sure we're not unintentionally breaking something.

[2020-07-27 20:46] thomseddon commented on #154
Could you post the logs from traefik-forward-auth also?

It sounds like you may be hitting #113

[2020-07-27 20:49] thomseddon commented on #155
Hey,

This project supports configuration via ini file, so the way I've done this when using swarm is:

[code]

would that work?

[2020-07-27 21:33] zenjabba commented on #152
[code]

[2020-07-27 23:09] zenjabba commented on #152
[code]

[2020-07-27 23:10] zenjabba commented on #152
I'm unable to even get it to work anymore, I'm getting an error when I try to put the line in to tell it to call google-auth

[2020-07-27 23:51] zenjabba commented on #152
[code]

[2020-07-28 21:09] thomseddon commented on #147
Just tested this and confirmed this is still the behaviour - currently the auth cookie will still be generated for an invalid user which I believe is a bug.

I've added the user verification into a local branch, but I need to decide on the best way to handle it it, I'll do a bit more testing on options.
-

[2020-07-29 12:10] D3N14L opened #156 "HEAD to forward-auth protected URL returns HTTP 500"
We have some URLs behind traefik-forward-auth and during some tests we found out that a HEAD (`curl -I`) to those URLs fails with a `HTTP 500` return code after 30s.

[code]

A GET to the same URL immediately returns the correct redirection with status code `HTTP 307`.

I have no idea what is supposed to happen upon a HEAD to those URLs, but if HEAD is not supported I would have expected a `HTTP 4

[2020-07-29 15:23] dantebarba commented on #150
Think I've found the issue. I'm ussing version 2.1.0 but the comma separated whitelist has been added in version 2.2.0. I'll upgrade and test again.

[2020-07-29 16:30] dantebarba commented on #150
It's working correctly in 2.2.0. Closing.

[2020-07-29 16:30] #150 closed

[2020-07-29 19:01] shockwaver opened #157 "RPi4 - unsupported platform"
Hello! I am attempting to run this image on an rpi4 (arm64) but it appears that none of the containers are compiled for arm64 despite the tags suggesting such. Attempting to run in swarm mode gives:
`"no suitable node (2 nodes not available for new tasks; scheduling constraints not satisfied on 2 nodes; unsupported platform on 1 node)"`

Running with docker compose gives
`Creating traefik-swarm_oa

[2020-07-30 11:46] SuperSandro2000 commented on #157
Thats is because they are all build on amd64 but go cross compiled to arm64.

[2020-07-30 14:05] shockwaver commented on #157
I'm fairly new to Docker so I may be wrong - but when I've cross compiled to amd64 and arm64 on my own images both arch tags show up.

It's possible that's not the issue though - but I'm unsure of what it is.

[2020-07-31 16:18] maxisme opened #158 "Infinite redirect"
Hey I am getting an infinite loop after authorising when visiting `whoami.$DOMAIN`

this is my swarm stack.yml for `traefik-forward-auth`:
[code]

And this the whoami service:
[code]

[2020-07-31 16:32] maxisme commented on #158
My redirect URL on github is `https://auth.${DOMAIN}`

[2020-07-31 21:34] maxisme commented on #158
Solution was to add to the `traefik-forward-auth` labels:
[code]
Would you be able to put that in the documentation?

[2020-07-31 21:34] #158 closed

[2020-07-31 22:05] maxisme commented on #85
I have the same issue with GitHub also my X-Forwarded-User is empty.

[2020-07-31 22:12] maxisme commented on #85
Ahh sorry just read:

[2020-08-01 06:53] AndreKR commented on #85
@maxisme That paragraph is outdated. If the application has the `email` claim, it will be able to read the primary email address of the user even when that is not public.

[2020-08-02 22:10] xNok commented on #155
I tested it it work that way

[2020-08-03 14:14] thomseddon commented on #157
Hey - could you confirm what tag you are using?

[2020-08-03 14:19] shockwaver commented on #157
I was using :2.1-arm64

[2020-08-03 14:44] thomseddon commented on #156
Hey,

I've just tested this and it works correctly when querying tfa directly, but something seems to be going wrong when traefik makes the forward auth request:
[code]

Looking at the code on traefik, it looks like they are throwing that error after attempting to read the body here: https://github.com/containous/traefik/blob/de458b735762ab12a66e92807ddc47345cdb44d0/pkg/middlewares/auth/forward.go

[2020-08-03 14:45] thomseddon commented on #155
Great

[2020-08-03 14:45] #155 closed

[2020-08-03 14:49] thomseddon commented on #147
I'm still unsure on the best way to handle this, the two options I see:

1. Show the Not Authorized page - this will be prior to redirect, so refreshing the page will result in another Not Auhorized, the user would need to repeat the initial request to try again, but it shows them there has been an error
2. Don't set the cookie, redirect them to their original request - this will case them to be r

[2020-08-03 14:53] thomseddon commented on #146
I'm glad this is working, this is documented in the README under the "Auth Host Mode" section: https://github.com/thomseddon/traefik-forward-auth/blob/master/README.md#auth-host-mode

But I understand this often trips people up so I'm hoping to implement a patch that will workaround this potentially confusing behaviour

[2020-08-03 14:53] #146 closed

[2020-08-03 15:56] dantebarba commented on #147
Number one is the best option to me. I don't know if it's already implemented, but a custom redirect URI for Not Authorized would be great. So we could design our own redirect schema. For example I would just load an HTML with a "Ops!, you are not authorized to view this page, click here to go back to login".

[2020-08-07 09:10] Aerion commented on #111
I'm reopening this to ask you if it's possible to have on the same route multiple providers available.
I would be surprised if it already exists, it would need a minimal GUI (like https://github.com/oauth2-proxy/oauth2-proxy/issues/88).
This would enable to authenticate with different providers (e.g. google & microsoft), with the user authenticating choosing which provider to use.

Is there a plan

[2020-08-07 20:59] thomseddon opened #160 "Keycloak Documentation"
Includes notes from #134 and instructions on how to enable email passthrough with `X-Forwarded-User` header

[2020-08-07 21:01] thomseddon commented on #134
Hi - I'm not sure about that part as it's down to the internals of keycloak, which I don't use.

I've opened #160 to make sure we get some docs written for keycloak and if anyone has any tips on email passthrough then I hope they can post it here or there!

I'll close off this issue for now - I'm happy your original issue is resolved!

[2020-08-07 21:01] #134 closed

[2020-08-08 00:02] michael-robbins commented on #160
Currently setting this label on my `traefik-forward-auth` container:
`traefik.http.middlewares.traefik-forward-auth.forwardauth.authResponseHeaders: "X-Forwarded-User"`

Results in the correct users email being specified with a default keycloak OIDC setup:
`"X-Forwarded-User":["my-email@domain.tld"]`

Is there any other settings you need?

[2020-08-08 13:46] michael-robbins commented on #44
Hey @thomseddon just asking the same question as above, as I'm not sure we answered the 'multiple OIDC issuers, is it actually possible to create multiple OIDC providers within a single TFA instance?

Maybe like being able to set the issuer-url/etc on a per rule basis? Or would I need to run multiple TFA instances per OID issuer?

[2020-08-09 02:43] michael-robbins commented on #160
Here's a Keycloak script I rigged up that performs RBAC based on Client Roles in keycloak and integrates nicely with Traefik Forward Auth and OIDC

[code]

[2020-08-10 04:30] dantebarba opened #161 "Dump headers in loglevel=trace"
For debugging purposes it would be great to also dump the incoming headers into the log when trace is enabled. Don't know if there is already an option to allow this, but I couldn't find one.

[2020-08-10 07:54] etho201 commented on #139
I'm having issues with this, or maybe I don't fully understand the documentation? Here's what I configured as environment variables in my docker-compose.yml file:

[code]

It seems like I have the auth_url value incorrect (I suspect I've taken the documentation too literally...), because when I try to navigate to a page that requires OAuth I only see this:

[code]

[2020-08-11 00:04] DirtyCajunRice opened #162 "Feature Request: Rules based on groups claims"
Currently, the only way to restrict a pool of users is via either having separate domain.tld emails, or to individually define them. Allowing the ability to reference a user-defined scope would enable flexibility of permissions. For example:
Default oauth2 would have a `groups` top level in the token where you could allow `users/application_name/read` or `users/application_name/*` etc.
User-define

[2020-08-11 02:20] etho201 commented on #139
I was very tired when I made that post, and can now easily see I mixed up my values.

[code]

Now that I have them matched up properly it appears to be working fine! :laughing:

[2020-08-11 06:43] riplatt opened #163 "Incorrect openid logout path"
when calling the /_oauth/logout endpoint I'm been redirected to ```https://auth.example.net/auth/realms/myrealm/protocol/openid-connect/openid-connect```

Would have expected to redirected to ```https://auth.example.net/auth/realms/myrealm/protocol/openid-connect/logout```

traefik-forward-auth Debug Log:
[code]

Chrome Network  log:
[code]

Docker settings:
[code]

[2020-08-11 07:09] thomseddon commented on #163
Hey - The logout handler isn't very smart, it just redirects you to whatever you have configured as `logout-redirect` / `LOGOUT_REDIRECT` (`https://example.net` in your example).

So if you would like it to send users to `https://auth.example.net/auth/realms/myrealm/protocol/openid-connect/logout`, then you can set that as your `LOGOUT_REDIRECT`.

One thing to note - the auth cookie is cleared _be

[2020-08-11 08:26] riplatt commented on #163
Thanks, setting ```LOGOUT_REDIRECT``` to ```https://auth.example.net/auth/realms/myrealm/protocol/openid-connect/logout?redirect_uri=https://example.net``` and doing a full docker-compose down and up fixed the issues I was seeing. I think the new setting where not taking just doing a docker restart and that was my problem.

Thanks again for the quick response.

[2020-08-11 08:26] #163 closed

[2020-08-14 09:56] DirtyCajunRice opened #164 "Helm chart"
I whipped up a helm chart for the k8s users out there. It encompasses every option offered by tfa. Will add a readme tomorrow. Thoughts on adding to docs?

[2020-08-14 12:00] chriske opened #165 "Redirect or cookie issue with auth mode"
Hi there!

Not so long ago I've tested your application with Traefik v2 in Kubernetes, and it worked like a charm. For my test scenario I used auth mode, OIDC (dex) and a single subdomain like whoami.example.com and auth.example.com for the callback. As I mentioned, everything went well.

Now I'm trying to make work the same setup in a PoC cluster, but with multiple subdomains. For example whoami.

[2020-08-14 20:19] DirtyCajunRice commented on #165
@chriske add
[code]
to your annotations for the oidc provider ingress as well. I know it seems counter-intuitive to auth the auth but this is needed per other issues

[2020-08-15 05:57] chriske commented on #165
@DirtyCajunRice thanks for your advice! I did it, and now I get too many redirect error message in the browser.

[2020-08-15 06:06] DirtyCajunRice commented on #165
@chriske IIRC I had to look at the 3 way hop happening in dev tools and the tfa config echo'd on container start. ensure all the options/secrets are what you expect

[2020-08-15 12:09] chriske commented on #165
@DirtyCajunRice without the extra label on oidc ingress, I can see the communication in dev tools and the redirects. It seems there is no cookie generated, and when the forwarder redirects me back to the original website, it redirects me instantly to oidc site again, because I didn't have the cookie. I've already tried to change the secret multiple times, and the domain configuration too. The stra

[2020-08-15 13:14] chriske commented on #165
And one more thing: with standard mode (not the auth) this setup is working like a charm with dedicated callback urls. I can see the logs of the container too.

[2020-08-15 16:47] DirtyCajunRice commented on #165
If there are no logs in the tfa pod then everything else is moot. With the label on do you see tfa logs?

[2020-08-15 16:57] chriske commented on #165
No, nothing. I've tried with TRACE or DEBUG log level, but nothing happened.

[2020-08-15 16:59] DirtyCajunRice commented on #165
@chriske add me on discord - there are too many moving parts to this to help you reliably over snail mail like this haha. its `DirtyCajunRice#0001`

[2020-08-15 16:59] DirtyCajunRice commented on #165
which also brings up a point... @thomseddon Thoughts on support chat outside github?

[2020-08-15 17:02] chriske commented on #165
@DirtyCajunRice thank you for the opportunity! Currently I'm on holiday, I will be back after a week. If it's ok to you too, I will reach you on Discord right after I'm back. Thanks again!

[2020-08-15 17:29] peavers opened #166 "After authentication, redirected to 404"
Hi, I'm trying to get a very basic example working with my domain and applications.

I get through the Google authentication stage but then end up stuck with the OAuth data in the URL and no redirect happening.

The URL looks like `https://my-domain.com/_oauth?state=456c10eee[..]`

My simple docker-compose file. All my services run on base paths rather than domains, that shouldn't matter though?
[

[2020-08-16 20:14] Beanow commented on #38
For Docker Swarm mode this doesn't work correctly.

In spite of the `-arm` labels the OS/ARCH picked up by Docker is `amd64`.
DockerHub reports this as well on [`thomseddon/traefik-forward-auth:2-arm`](https://hub.docker.com/layers/thomseddon/traefik-forward-auth/2-arm/images/sha256-c633d20c76c64b4bcdfce5f6c274c00a4fe1efe092348801a560c43c4c1415af?context=explore)
As opposed to say [`npawelek/traef

[2020-08-16 23:51] SuperSandro2000 commented on #38
@Beanow Docker Hub can't do manifests easily. If the Image building would be done on some other CI this would be easily possible.

[2020-08-17 13:52] thomseddon commented on #165
Hey - if you could bump the log level up to debug and post the logs from the tfa container, that should help point to the issue.

On the support chat - I think that github is probably still the best for most support, because it creates a permanent searchable record for other users to stumble on in the future - but I do agree that it can be a little hard to step through things in realtime! I've cre

[2020-08-17 13:55] thomseddon commented on #166
I can't see any obvious issues, could you try running this swarm example: https://github.com/thomseddon/traefik-forward-auth/blob/master/examples/traefik-v2/swarm/docker-compose.yml and make changes from there?

If you're still having issues, please post your debug log.

[2020-08-17 13:56] thomseddon commented on #161
We do dump the headers we work with: https://github.com/thomseddon/traefik-forward-auth/blob/174353743876301fa42a27d9e42ec528bcf06ebb/internal/server.go#L235-L243

Could I ask what your use case us for seeing other headers?

[2020-08-17 13:59] thomseddon commented on #152
Hi - Looks like you're using swarm, could I suggest you start with one of the examples as is, then modify for your use case bit by bit: https://github.com/thomseddon/traefik-forward-auth/tree/master/examples/traefik-v2/swarm

If you're still having issues, please post your entire config (docker compose, traefik and traefik forward auth) and debug log when running

[2020-08-17 14:00] thomseddon commented on #154
I'm closing this one now, but please reopen if you have more info

[2020-08-17 14:00] #154 closed

[2020-08-17 14:02] zenjabba commented on #152
Will give this a try, and get back to you.

[2020-08-17 16:32] DirtyCajunRice commented on #164
as an update, this chart is moving to a pre-existing repo and should be on helm hub in the near future under the k8s-at-home org. Would love your opinions/feedback :)

[2020-08-17 18:41] zenjabba commented on #166
[code]

[2020-08-18 04:11] robertbaker opened #167 "Support Docker Secrets"
Please support the usage docker secrets.

Most common would be to support *_FILE env vars.

SECRET_FILE=/run/secrets/secret

[2020-08-18 15:50] dantebarba commented on #161
It was for debugging an Authorization header that was not being sent by the client. After enabling debug in traefik and realizing that it does dump all the headers from the request, I now see no sense in re-logging the headers in oauth too, so I'm closing the ticket. Thanks.

[2020-08-18 15:50] #161 closed

[2020-08-19 05:17] tibbles444 opened #168 "Whitelist flag blocks all accounts, even those whitelisted"
When using the option `WHITELIST=$MY_EMAIL` all logins are blocked, even the specified whitelisted email.  If I remove this option I am able to login, however, so is anyone with a gmail account, which is obviously not wanted.

I have tried both `WHITELIST=$MY_EMAIL` as well as `WHITELIST=myemail@gmail.com` and also confirmed the capitalization of my email address.

docker-compose.yml

[code]

midd

[2020-08-19 08:42] thomseddon commented on #168
Can you post the full debug logs?

[2020-08-19 08:43] thomseddon commented on #167
Hi - this can be achieved as shown in: https://github.com/thomseddon/traefik-forward-auth/issues/155#issuecomment-664630985 :)

[2020-08-19 08:43] #167 closed

[2020-08-19 16:31] tibbles444 commented on #168
Here is a part of the logs I have right now.  If you need more, let me know and I will have to dig that up for you.

[code]

[2020-08-25 15:36] dicksnel opened #170 "Container exits when openid-configuration is not found"
I am using a docker-compose which starts:

- traefik
- traefik-forward-auth
- whoami
- keycloak

I am using Keycloak as OIDC provider. The problem is, the keycloak service takes +- 20 seconds before it is fully responsive. When traefik-forward-auth starts, it will exit because Keycloak is not yet ready:

`traefik-forward-auth_1  | time="2020-08-23T02:28:09Z" level=fatal msg="Get http://localhost:8

[2020-08-25 16:21] aendeavor opened #171 "GitLab OIDC"
# Forwarding issue with GitLab's OIDC capabilities?

## Description

I am using GitLab and Traefik, and therefore wanted to have OAuth2 capabilities. After some configuration, I am stuck in the following situation: I am forwarded to the authorization screen in GitLab. But when pressing this button, I am redirected to the same page.

![2020-08-25-181130_1920x1080_scrot](https://user-images.githubus

[2020-08-26 10:38] aendeavor commented on #171
I cannot believe what just happened: Worked through it for hours yesterday. Just had a look at #158. Solved in 3 minutes. I'm done.

[2020-08-26 10:38] #171 closed

[2020-08-26 13:13] #152 closed

[2020-08-27 20:07] TobenderZephyr opened #172 "Not Authorized (3 Hosts setup with keycloak)"
My setup currently are three different Docker Hosts (no swarm), each running one of: `keycloak + traefik`, `traefik-forward-auth+  traefik`, `application + traefik`. The plan was to have the application run somewhere (LAN/DMZ or even cloud), while the forward-auth-host is inside a DMZ allowing only HTTP/HTTPS+outgoing LDAP for Authentication against Active Directory.
The KeyCloak Server could eith

[2020-08-28 02:13] v7lin opened #173 "Oauth2 Provider does not work"
traefik logs
[code]

traefik.yaml
[code]

traefik-forward-auth.yaml
[code]

files.yaml
[code]

[2020-08-28 02:59] #173 closed

[2020-08-28 07:10] ChristianKlass opened #174 "X-Forwarded-User is blank after logging in via Keycloak"
I have been trying to use the traefik-forward-auth to do authentication with Keycloak. So far, I've managed to get it to log users in. However, I want to be able to get the username/identity of the users who are logging in as well.

To this end, I've tested with the whoami container and the X-Forwarded-User field is blank:

[code]
The x-forwarded-user is blank, and I'm not sure why. As I understan

[2020-08-28 08:11] ChristianKlass commented on #174
Found the exact same problem in issue #125. Closing this as a duplicate. Thanks!

[2020-08-28 08:11] #174 closed

[2020-08-28 08:38] dicksnel commented on #170
This is fixed by adding the following to the traefik-forward-auth service in docker-compose.yml:

`restart: always`

I think it would still be best if the service does not exit, but keeps trying.

[2020-08-28 08:38] #170 closed

[2020-08-28 11:36] TobenderZephyr commented on #172
I moved the KeyCloak Container on the same host as `traefik-forward-auth` and changed DNS entries, so cookies are valid.
I got some steps further and receive no errors on console, but I'm still not being redirected back to the service. I still get `Not Authorized` in the browser.

[code]

[2020-09-02 08:24] mwitkow commented on #113
It seems the CSRF validation on a different tab is something that is easy to hit when running Home Assistant behind Traefik+Forward Auth (see [here](https://mwitkow.me/posts/2020-04-25_homeassistant_google/)). It seems that Home Assistant single page app uses websockets, and on pressing "Retry" it seems to do something like you describe with multiple tabs.  I get prompted to choose a Google accoun

[2020-09-02 11:40] GuyKh opened #175 "Is it possible to use this component as part of Portainer OAuth authentication?"
With Portainer 2.0 (CE), the OAuth authentication became "free".

I have a traefik service with traefik-forward-auth working and I'd want to avoid the extra login if the user is logged on to Google.

Is there any way to reuse this? Or even - how to use google directly?

Any instructions?

![image](https://user-images.githubusercontent.com/3136012/91976779-2e55b680-ed2a-11ea-9cfd-396ffd5dceab.png)

[2020-09-02 11:56] Beanow commented on #157
This is the same issue as mine: https://github.com/thomseddon/traefik-forward-auth/issues/38#issuecomment-674572439

When using docker in swarm mode, the manifest is used to figure out where it *can* deploy.
Since the manifest says x86 even for the -arm64 tags, it won't deploy on an ARM node.

[2020-09-02 12:59] Beanow commented on #157
As I understand, Docker Hubs CI is the limiting factor.
I'd gently suggest not to have high expectations, or any expectations, of Docker Hub and consider another CI.

Docker Hub seems to constantly lag _years_ behind. It took 4 years to add 2FA (https://github.com/docker/hub-feedback/issues/358).
The concept of a deploy token still doesn't exist afaik.

Same thing going on with their build system.

[2020-09-02 15:44] mwitkow opened #176 "Error validating csrf cookie on single page apps [v2.2]"
I have intermittent issues logging in on both Android Chrome and desktop Chrome with pre-signed up user. I am presented with a consent screen, select the user, do the flow and end up on a `Not authorized` page.

It may be due to #113 (CSRF rewrite) as it is during loading Home Assistant which fetches multiple pages `/` `/service_worker.js` due to previously cashed single page app.  The log clearly

[2020-09-02 16:41] dirtycajunrice opened #177 "[Feature Request] Read whitelist/blacklist from environment dynamically"
The lists currently are read on init and static afterwards. If the whitelist is passed in as a secret reference in k8s it is able to be updated on the fly. This allows for secret updates without rotating the pod.

[2020-09-04 23:20] jcmuller opened #179 "Forward full name?"
Loving this project. I was wondering if you've thought about optionally including the user's full name from the identity provider. This would be very useful in certain applications.

[2020-09-07 20:58] JDouven opened #180 "Empty email field in cookie when providing whitelist"
I'm having an issue with the whitelist. When supplying emails for the whitelist, the email field of the cookie is empty. When I dont supply anything for the WHITELIST environment variable, I can login just fine. It also doesn't work if I supply only one email for the whitelist.

I'm using Google as my provider.

I have read most other issues concerning the whitelist but have not seen this specific

[2020-09-08 09:32] jonwilliams84 opened #181 "Traefik2 HTTPS Example?"
Hi,

Do you have any examples with HTTPS Acme providers (Let's Encrypt)?

I have a kind of working config, but not sure it's fully correct as I end up with a Router for HTTP and Router for HTTPS for each service.

[code]

Here is what my dashboard looks like:

![Screenshot 2020-09-08 at 10 26 16](https://user-images.githubusercontent.com/24478629/92459314-70657900-f1be-11ea-8ef0-536380207f60.png)

[2020-09-09 07:33] jonwilliams84 commented on #181
Worked it out after a couple of hours. I was missing the forward auth labels on the forward auth service itself.

Here is my working config in case anyone else has the issue.

This uses LE for certs, a `servers.toml` for services outside of swarm (e.g. emby), and `AUTH_HOST` for a single domain level auth for all services, that can be selectively used based on presence of `"traefik.http.routers.wh

[2020-09-09 11:05] chriske commented on #165
@thomseddon @DirtyCajunRice

Sorry for the late answer guys, unfortunately I had other things to do...
But.. I checked all of my configs, and figured out and solved the issue :)

The problem was with my forward-auth ingress. It must contain the middleware directive to traefik as well, but I didn't added it.

@DirtyCajunRice maybe this was what you suggested, but you mentioned the oidc ingress, so

[2020-09-09 11:07] #165 closed

[2020-09-09 16:55] DirtyCajunRice commented on #165
@chriske  yeah haha! i didnt even think about the fact that you could be hosting the oidc provider internally. I meant TFA XD. Glad you got it worked out

[2020-09-14 17:00] dicksnel commented on #122
An InsecureSkipVerify option would be great for local testing with self-signed certs.

[2020-09-15 15:46] idsulik opened #182 "Add oAuth pkce support"
Here we go, add oidc [pkce](https://tools.ietf.org/html/rfc7636) support